[2015-03-20 16:37] timothyfcook opened #4 "Bootstrap Rails Application"

[2015-03-20 16:38] whit537 opened #5 "configure Gitter"

[2015-03-20 16:38] chadwhitacre commented on #4
https://afternoon-inlet-4548.herokuapp.com/ :dancer:

[2015-03-20 16:38] justinxreese opened #6 "Deploy to heroku with CI"
Codeship already setup. Need heroku config.

[2015-03-20 16:40] chadwhitacre commented on #6
Right now [it's](https://afternoon-inlet-4548.herokuapp.com/) under my personal account. We should move to a Saxifrage org at Heroku.

[2015-03-20 16:41] timothyfcook opened #7 "User Stories from Small Organizations"
Talk to Assemble. Pull in notes from Orgs.
- Data types
- Ways to search
- what functionality, level of customization, etc (logo, colors, what else)
- Maintain nav bar?

[2015-03-20 16:42] timothyfcook opened #8 "Setup Heroku Account"
Chad will move his Heroku deploy to here.

[2015-03-20 16:43] chadwhitacre commented on #6
Waiting for new Heroku account from @timothyfcook in order to transfer app over there. API key is scoped to user.

[2015-03-20 16:44] timothyfcook commented on #5
https://gitter.im/saxifrage

[2015-03-20 16:44] #5 closed

[2015-03-20 16:51] whit537 opened #9 "start doc site using gh-pages"

[2015-03-20 16:51] whit537 opened #11 "pin down weekly meeting time"
Thinking Friday sometime? 11am? 2pm?

[2015-03-20 16:57] chadwhitacre commented on #11
For venue I suggest Google Hangouts, because we can livestream/archive on YouTube and deeplink to decisions from relevant tickets.

[2015-03-20 17:00] timothyfcook commented on #9
Set up a homepage with navigation tree and "edit these docs" links at the bottom of each page.

[2015-03-20 17:36] chadwhitacre commented on #9
I'll see if I can get the basics in place.

[2015-03-20 17:44] chadwhitacre commented on #9
`gh-pages` branch kicked off in https://github.com/saxifrage/learn/commit/1ac58778bde524e3f2ec9d85d8b65f0b57a21019.

[2015-03-20 17:45] chadwhitacre commented on #9
I just turned off GitHub's Wiki feature for this repo, since we're planning to use GitHub pages for documentation instead.

[2015-03-20 17:45] chadwhitacre commented on #9
http://saxifrage.github.io/learn/

[2015-03-20 17:48] timothyfcook commented on #9
Set it up with http://prose.io/

[2015-03-20 17:49] justinxreese commented on #8
Good to go!

[2015-03-20 17:49] #8 closed

[2015-03-20 17:49] justinxreese commented on #6
Good to go!

[2015-03-20 17:49] #6 closed

[2015-03-20 17:49] justinxreese commented on #4
Good to go!

[2015-03-20 17:49] #4 closed

[2015-03-20 17:50] timothyfcook commented on #4
woot! step one.

![screen shot 2015-03-20 at 1 49 17 pm](https://cloud.githubusercontent.com/assets/1823300/6757509/00445198-cf08-11e4-9a42-eb61f67d1e0a.png)

[2015-03-20 17:51] justinxreese opened #15 "Use CNAMEs to access organizations by subdomain"
Docs on how to do it: http://www.davesouth.org/blog/rails/rails-subdomains-cnames-and-crzy-me

[2015-03-20 17:57] timothyfcook opened #16 "Sketch Out Data Model for Orgs/Opportunities"

[2015-03-20 17:57] justinxreese opened #17 "Add concept of organizations"
Example page:

http://national.cityoflearning.me/organization-details?id=30

[2015-03-20 17:59] justinxreese opened #18 "Add concept of opportunity instance"
Event instance

- name
- description
- location
- age range
- topic
- cost
- image
- registration url
- start
- end
- contact

[2015-03-20 18:00] timothyfcook commented on #16
Here's a draft of what the entire scope might eventually look like, including relationships. This was created reference graphDB type relationships.

Note the distinction and relationship between Opportunity and Opportunity instance:
![datamodel](https://cloud.githubusercontent.com/assets/1823300/6757692/6470aa1c-cf09-11e4-8f61-1bbdda46e62c.jpg)

[2015-03-20 18:05] timothyfcook opened #20 "Create and Document Heroku Button for New Instances"
So that Tallahassee (or whoever) can spin up their own version.

[2015-03-20 18:05] timothyfcook commented on #20
Put it in the Docs and explain how it works

[2015-03-20 18:11] timothyfcook opened #21 "Design and Implement Organization Page Template"
Reference existing Org pages from the City of Learning platform here: http://national.cityoflearning.me/organization-details?id=30

[2015-03-20 18:11] justinxreese commented on #18
From the API docs on Scheduled Programs:

payload[scheduled_program]
required
Value:
Must be a Hash

payload[scheduled_program][name]
required
Scheduled Program name

Value:
Must be String

payload[scheduled_program][address]
optional , nil allowed
Scheduled Program address

Value:
Must be String

payload[scheduled_program][description]
required
A short description

Value:
Must be String

payload[

[2015-03-20 18:12] whit537 opened #22 "publish main project site on a domain"
@timothyfcook Can you help me out here? I propose we host our main project site at:

http://learn.saxifrageschool.org/

I've got GitHub pages set up on the `gh-pages` branch. Once you okay the domain and add a `CNAME` for it to `saxifrage.github.io` I can finish the configuration to get our project site on a proper domain.

[2015-03-20 18:28] chadwhitacre commented on #22
Decided to go with `cityascampus.org`!

[2015-03-20 18:31] chadwhitacre commented on #22
http://cityascampus.org/

Huzzah! :dancer:

[2015-03-20 18:31] #22 closed

[2015-03-20 18:32] chadwhitacre commented on #9
Started! :-)

http://cityascampus.org/

Will reticket next steps ...

[2015-03-20 18:32] #9 closed

[2015-03-20 18:34] timothyfcook opened #23 "Build Embeddable JS API for Org Event Feed"
When we build out our Organization pages we will build them like a 3-layer cake:

1. Citywide Nav Bar
2. Organization logo and information
3. Organization event feed with search/browse options (build as an embeddable object using JS/API). This embed will run both on our site and enable us to let partners embed their event feeds natively in their sites (as a sub-page with their own Nav bar, etc.).

[2015-03-20 18:41] whit537 opened #24 "theme the docs/contributor site"
Currently it's the underlying Jekyll theme we started with ([Scribble](http://scribble.muan.co/2013/05/06/scribble-the-jekyll-theme/)).

[2015-03-20 18:43] #18 closed

[2015-03-20 19:04] timothyfcook opened #26 "Onboard Matthew and Discuss Stack"
Let's setup a time for @whit537 @justinxreese and I to gHangout with @matthewvita about our new plans and stack choices. He needs to know what's going on and be able to share out his thoughts on Angular, databases, etc.

Have time this weekend for a few minutes? Or we can hash it out on this thread.

[2015-03-20 19:11] MatthewVita commented on #26
I'm free this weekend for a G+ hangout. I'd love to meet with you guys "face to face".

While we figure out a good time for our call... let's talk about our Stack here to get a headstart:

Tim mentioned you guys would like to use a RoR backend. I'm cool with that... I'm more of a Python person but I recently pair-programmed a Ruby script at my job with someone that lives and breathes Ruby (I learn

[2015-03-20 19:24] timothyfcook commented on #26
I like the idea of RoR and Angular. Its data-binding is so slick.

Just sketching out ideas for roles here:

Back-end: RoR (Justin)
Front-end Data-binding to RoR with Angular (Matthew)
Front-end Design/Implementation (Cameron)
Project Design/Management/Documentation/Open-Source (Chad)
Project Lead, Design, Copywriting and Payer-of-Bills (Tim)

[2015-03-20 19:26] timothyfcook opened #27 "Create New Roadmap"
Here was the previous iteration:

[2015-03-20 19:30] MatthewVita commented on #26
Tim, I'm fine with my position on that list. I can def help on the backend as well.

I'm guessing we don't need a role for DB person if we're going to use one of those slick Ruby DB ORMs?

[2015-03-20 19:30] justinxreese opened #28 "Figure out why codeship is building on pushes to GH pages branch"

[2015-03-20 19:37] whit537 opened #29 "change favicon"

[2015-03-20 19:46] timothyfcook commented on #26
Obviously, lots of overlap if and when necessary, those just seem to be your main areas of expertise.

[2015-03-20 19:54] chadwhitacre commented on #20
I minimally put it in [the docs](http://cityascampus.org/about/), didn't explain it yet.

[2015-03-21 00:49] MatthewVita commented on #26
so I put together this Angular.js Frontend and Sinatra.rb Backend repo for us to consider: https://github.com/saxifrage/cities-as-a-campus

...I'm a big fan of "fractal design" in software where features are broken out in "fractal" feature folders, in case you're wondering why the structure isn't using the traditional "models, controllers, views, libraries, tests, etc" structure.

Thoughts?

...bt

[2015-03-21 18:29] justinxreese commented on #27
It would be useful to have some good idea of dates and work items per sprint so I can organize this with the work of my other clients

[2015-03-21 18:58] timothyfcook commented on #27
Definitely. Hope to work on it this weekend. Will definitely need help from you to identify specific work. Any chance you have a minute to chat with Matthew and I about the tech stack?

[2015-03-21 22:41] timothyfcook opened #30 "Add Orgs, Opportunity, and Opportunity_Instance to DB"
Start with:
- Organizations
- Opportunity and Opportunity_Instance

[2015-03-21 22:43] timothyfcook commented on #30
Here's  a link to Heroku page: https://dashboard.heroku.com/apps/learnpgh/ ...set you up as a collaborator.

[2015-03-21 22:45] timothyfcook commented on #26
@justinxreese what do you think about the stack and possibly using RoR (or Sinatra) coupled with Angular?

[2015-03-21 22:59] MatthewVita commented on #26
(my https://github.com/saxifrage/city-as-campus repo reflects this consideration, btw)

[2015-03-21 23:24] justinxreese commented on #26
Need to look at some angular/rails documentation. Will look at this tomorrow more

[2015-03-21 23:30] timothyfcook commented on #26
Cool, thanks.

[2015-03-21 23:41] timothyfcook commented on #24
- Here's [an example](http://www.homeflow.co.uk/technology/api-documentation-with-github-and-jekyll/) of a documentation site built with Jekyll.
- Here is an existing [docs template](http://bruth.github.io/jekyll-docs-template/) we could use to get started. The [github repo](https://github.com/bruth/jekyll-docs-template/) for it is recent and active.

[2015-03-22 00:30] MatthewVita commented on #30
so I did a bit of exploring about Ruby DB libraries and seems like the community really likes DataMapper. It can be used in RoR or Sinatra too.

Can you help me define the keys/types here:

https://github.com/saxifrage/city-as-campus/blob/18b21c2ee75f3a573cdf49908b978efd85415591/server/organizations/OrganizationsModel.rb

[2015-03-22 00:31] justinxreese commented on #30
Rails has a built in ORM
On sáb, mar 21, 2015 at 8:30 PM Matthew Vita notifications@github.com
wrote:

[2015-03-22 00:40] MatthewVita commented on #30
Yeah, I'm not really a Ruby person quite yet but I do use Ruby Sinatra clones in other languages (Express for Node, Spark for Java, and Flask for Python) quite a lot. If you really think that RoR is more suitable than Sinatra for this project, I'll take your word for it!

[2015-03-22 00:44] timothyfcook commented on #30
@justinxreese would it be helpful for @matthewvita to help build up the data-model here: https://github.com/saxifrage/learn/tree/master/db ? He's got some time to help out this weekend. Once you decide on a home for the DB, I can help by adding in the data-types.

[2015-03-22 00:50] timothyfcook opened #32 "Confirm Weekly Meeting"
@whit537 @justinxreese @cameronscott137 Per our discussions yesterday, sounds like we are planning on a weekly meeting or Google Hangout to reset our weekly sprints.

How is 10:00 am for everyone?

[2015-03-22 01:01] justinxreese commented on #30
That is only a small portion of what it takes to add a model correctly. You
can see a full commit here where I added opportunity instances.
https://github.com/saxifrage/learn/commit/6349516dc0a628152663726ba6803120012fd1df

Adding new models is a pretty easy task for me and I'd prefer the help on
the front end.

On Sat, Mar 21, 2015 at 8:44 PM Tim Cook notifications@github.com wrote:

[2015-03-22 01:03] MatthewVita commented on #26
@justinxreese let me know if you have questions about Angular along the way!

[2015-03-22 01:04] timothyfcook opened #33 "Decide on Stack"
One recommendation on the table is Ruby on Rails with Angular.
@MatthewVita has some Angular skills, @justinxreese has RoR skills. Could be a nice combination.

Of course, we don't have to use Angular and can default to jQuery, etc.. Just wanted to bring up the Angular option again, since it could pair nicely.

Here are some resources:

http://angular-rails.com/
http://www.angularonrails.com/ruby-

[2015-03-22 01:04] timothyfcook commented on #26
@justinxreese @MatthewVita if yinz have a minute and want to have a chat to figure out what Matthew can help, let's get in the Gitter: https://gitter.im/saxifrage

[2015-03-22 01:18] timothyfcook commented on #26
Matthew is on-boarded. Closing this, assuming that you two will chat soon. Letting #33 take over, let's try to put a final decision in there soon.

[2015-03-22 01:18] #26 closed

[2015-03-22 01:20] timothyfcook opened #35 "Invite OSS Contributors"
Once the project matures more, want to invite more people to help on this.

[2015-03-22 19:18] timothyfcook commented on #30
The previously sketched out data model for EVERYTHING is here: https://github.com/saxifrage/learn/blob/master/datamodel%281%29.pdf

[2015-03-22 20:02] timothyfcook commented on #30
Shared the original data-model sketch in #16 but will work on something more specific to our current sprints. A lot of that model is not needed right now.

[2015-03-22 20:21] MatthewVita commented on #30
:+1:

[2015-03-22 21:07] justinxreese commented on #32
I can't do that time this Friday, but that should work normally

[2015-03-22 21:14] justinxreese commented on #23
Milestone 2/3'ish

[2015-03-22 21:15] justinxreese commented on #11
Duplicate of #32. That one has people tagged, so killing this one.

[2015-03-22 21:15] #11 closed

[2015-03-22 21:15] justinxreese commented on #15
Milestone 2/3'ish

[2015-03-22 21:18] justinxreese commented on #33
Angular on top of rails could be an option to increase the usability of the app, but I don't think it should be done at the start. We should build out some of the core features so that we have a stable base, and then look at replacing some of the interface's interaction with the app with Angular things. Probably can start after Sprint 2

[2015-03-22 21:42] MatthewVita commented on #33
I'm fine with that plan, but we should aim to really separate the frontend and the backend when we do make the switch. @justinxreese have you ever used https://github.com/rails-api/rails-api ?

[2015-03-22 21:43] justinxreese commented on #33
I haven't

On Sun, Mar 22, 2015 at 5:42 PM Matthew Vita notifications@github.com
wrote:

[2015-03-22 21:45] MatthewVita commented on #33
Would you be opposed to having our backend being solely the backend piece? AKA an API that clients (Angular, our case) consume?

[2015-03-22 21:45] MatthewVita commented on #33
...if not, would rails-api make sense or can we just use Rails without all of the frontend stuff?

[2015-03-22 22:00] justinxreese commented on #33
I'd be up for it if it gains us a good bit. Right now, with the lack of any obligation to the Chicago API, I'm not sure it is all that valuable. rails-api probably would make the most sense there. The easy use of Angular templates over top of their API was a benefit originally, but now it seems we're designing to the technology and shouldn't really worry about it until it directly benefits the pro

[2015-03-22 22:14] MatthewVita commented on #33
I agree with you.

However, keep in mind that there will probably come a point when we have a feature that requires a more complicated UI and it would make more sense to use a JavaScript library/framework**\* to handle it as opposed to Rails.

**\* I'm not married to Angular, but I do know it well and think it's a wonderful tool. There's also libraries like http://facebook.github.io/react/, http:/

[2015-03-22 22:25] justinxreese commented on #33
I haven't seen anything yet in terms of UI that really necessitates that. We should make JIT decisions and defer them until they are necessary for the project to continue.

[2015-03-22 22:33] MatthewVita commented on #33
Cool. As long as we use the appropriate tools for each job, I'm happy. :+1:

[2015-03-22 22:33] justinxreese commented on #33
Sounds good. We will reevaluate later.

[2015-03-22 22:36] MatthewVita commented on #33
@timothyfcook with all this said, can I rename this repo to be "City as Campus" and wipe my current "City as Campus" repo? (I'll archive it on my machine because the Angular/Gulp stuff there is solid and can be reused later, if needed). I'm assuming this will break things (links, gh page, gitter, heroku?) so let's plan ahead

[2015-03-22 22:37] MatthewVita commented on #33
also, you can close this issue when you reply. We're going to just use Rails for the entire app and pull in a JS data-binding library/framework when a more sophisticated client feature will need it.

[2015-03-22 22:45] MatthewVita opened #36 "Name"
I do like the name "City as Campus"... but I'm wondering if we should really stick an "a" in there making it "City as a Campus".

In the tech world, we have "Platform as a Service" (PaaS) and "Software as a Service" (SaaS) to name a couple. Not only is the "as a" grammatically correct, it helps convey meaning.

...Thoughts?

[2015-03-22 23:06] justinxreese commented on #36
:+1:

[2015-03-22 23:08] cameronscott137 commented on #36
[image: :+1:]

On Sun, Mar 22, 2015 at 7:06 PM, Justin Reese notifications@github.com
wrote:

##

Cameron
(610) 883-7342

[2015-03-22 23:28] timothyfcook commented on #33
Awesome. Thanks for hashing this out. Let's leave the repo as "saxifrage/learn" for now until we finalize the name in #36 . Okay, so Angular (or something) maybe down the road... remember that we will likely need to connect our data to the Chicago City of Learning data down the road. Not sure what the ramifications are in terms of our build.

[2015-03-22 23:28] #33 closed

[2015-03-22 23:29] MatthewVita commented on #33
We will be able to connect with any API from our Rails backend, no sweat.

[2015-03-22 23:31] timothyfcook commented on #33
Cool. The only other thing I was consider was us enabling partner sites to natively embed our Explore functionality (their event feed) within their site... maintaining their nav bar, etc. and not using the CNAME strategy in #15  ...having both options will serve more use cases.

[2015-03-22 23:36] timothyfcook commented on #32
@justinxreese does a different time this Friday? then we can plan on 10:00 moving forward.

[2015-03-22 23:42] timothyfcook commented on #36
Yeah, I'll do some thinking on this. They are both grammatically correct, but I'm with you...

...another name entirely might make sense as well. I'll consider.

[2015-03-22 23:47] MatthewVita commented on #36
I wasn't implying it was grammatically incorrect, but I can see why my post may have came off that way.

I'll leave you to think on this and then we can hold a vote.

[2015-03-22 23:48] timothyfcook commented on #36
sounds good! thinking hard. Part of it was that we just needed somewhere to park things and I owned that domain.

[2015-03-22 23:51] justinxreese commented on #32
Actually. 10 works this week. I forgot the start time of something.

[2015-03-22 23:51] MatthewVita commented on #33
or we could just have an API endpoint (JSON) accessible to them so they can wire up the feed however they want, with whatever styling they want. That's another conversation, however.

[2015-03-23 00:11] timothyfcook commented on #36
names with available domains:
0. City as Campus -- cityascampus.org
1. City as a Campus -- cityasacampus.org
2. Fractal Schools  -- fractalschools.org
3. Fractal Learning -- fractallearning.org
4. Fractal Campus -- fractalcampus.org
5. Map of Learning -- mapoflearning.org
6. Graph of Learning -- graphoflearning.org
7. Knowledge Framework -- knowledgeframework.org
8. Structure of Learning -- struct

[2015-03-23 00:45] MatthewVita commented on #36
I still like 1 and kind of like 2. I feel like we should have the word "campus", "school", "education", or "learning" right in the name so it's immediately understandable.

How about:
0 http://openschools.io/
1 http://openlearning.space/
2 http://opencampus.io/

[2015-03-23 02:16] MatthewVita opened #37 "Installation Instructions"
@justinxreese I'm trying to get install instructions for local development spelled out on the `README.md`... so far I have Linux but could use a hand on Mac since I don't use Mac (and, yes, I'm assuming you use a Mac since you're a ruby person C: )

I can add in the Windows instructions too.

https://github.com/saxifrage/learn/commit/033963bdb2506f08cee2c90dcf0fac26c0e3b0bc

[2015-03-23 02:42] justinxreese opened #39 "Pull request flow"
I think that even if we merge our pull requests ourselves immediately, we should use pull requests for all changes and never push directly to master. This will make sure nothing bad gets in to master because it'll pass CI.

I'll add everyone here as a contributor on the Codeship team.

[2015-03-23 04:30] justinxreese commented on #30
They're all in there now. Just a matter of making it look okay.

[2015-03-23 04:30] #30 closed

[2015-03-23 04:32] justinxreese commented on #17
Dupe #30

[2015-03-23 04:32] #17 closed

[2015-03-23 10:57] MatthewVita commented on #39
That's fine with me! Although, documentation changes can probably be merged in directly if we all can agree on that.

Do we want to do code reviews? (It's not possible to "assign" PRs in Github AFAIK but we can just @mention the person to do a review.)

...once we decide on this, we can add a concise "Contribution Guide" in the wiki :)

[2015-03-23 12:48] timothyfcook commented on #30
Excellent. I'm going to work on a set of JSON objects to give you to finalize all the data-types per #16 ....I'll be referencing the City of Learning API so that we can match up with that down the road: http://www.col-engine-staging.com/apipie/1.0/scheduled_programs.html

Sound good? Or is a different format helpful?

[2015-03-23 13:09] MatthewVita commented on #30
btw, do we need to support a development test data mode, @timothyfcook @justinxreese ?

For example, we can use http://ruby-doc.org/stdlib-2.2.0/libdoc/optparse/rdoc/OptionParser.html so if `rails server --use_test_data=true` is issued, then predefined test data is served. (Forgive me if you can't supply args at the `rails server` level and need to set env vars elsewhere... I'm a rails newbie).

[2015-03-23 16:24] timothyfcook commented on #27
Need everyone's thoughts and edits here: https://github.com/saxifrage/learn/blob/gh-pages/roadmap.md before we can close this.

[2015-03-23 16:45] justinxreese commented on #30
it's all environment based. Whatever you create in dev will exist in dev. Same for prod and test. We can eventually make some seed data to make the app look nice. You can read up on how rails handles seed data here https://codedecoder.wordpress.com/2013/04/25/rake-db-seed-in-rails/ or here http://www.xyzpub.com/en/ruby-on-rails/3.2/seed_rb.html although I forget if using the db/seed file is in fav

[2015-03-23 17:40] MatthewVita commented on #30
@justinxreese seed data is precisely what I'm referring to here, thank you for the link!

I would argue that seed data is more than just "making the app look nice" as it give the app some initial context when installed locally. Plus it's necessary if we're doing integration tests. I think I saw you had some unit tests in place but are we also doing integration tests for this app?

[2015-03-23 19:25] justinxreese commented on #30
I haven't test driven anything so far, but definitely will add some
integration tests very soon. The unit tests are largely just things rails
added for me. For integration tests, I likely wouldn't be using seed data,
but will be doing full start to finish tests.

On Mon, Mar 23, 2015 at 1:40 PM Matthew Vita notifications@github.com
wrote:

[2015-03-23 19:59] timothyfcook commented on #16
Okay. I created a draft of a JSON file for `opportunity_instance`. It includes an `organizer` object (which replaces `organization` with this more appropriate/generic term since the `organizer` could be an individual, or an informal group).

To create it I referenced the existing [City of Learning API](http://www.col-engine-staging.com/apipie/1.0.html), schema.org and, primarily, the [Eventbrite A

[2015-03-23 20:01] timothyfcook opened #43 "Pair data-types with CoL data-types"

[2015-03-23 20:14] timothyfcook commented on #24
@cameronscott137 unless you have a better option, I like [this](http://bruth.github.io/jekyll-docs-template/) docs template to host our documentation/roadmap, etc. Below is a logo we can use.

![learnpgh_logo](https://cloud.githubusercontent.com/assets/1823300/6789567/a2bee4f8-d177-11e4-8baf-0a74dee08dff.png)

[2015-03-23 20:22] timothyfcook commented on #36
@matthannigan any thoughts here? We want to pick out a generic name for our white-label tool aside from "Learn.Pgh", etc. so that we can give it a home that isn't location specific. Mostly just using it as a name for the repository and the domain for the site where we host documentation, etc.

I'm leaning more towards @MatthewVita 's "City as a Campus" preference, I like the SaaS reference. Althou

[2015-03-23 20:53] matthannigan commented on #36
@timothyfcook I suggest just choosing a disposable product codename for the time being. Perhaps using something like http://nomaine.com/en/ to find an available, pronounceable thing.

[2015-03-23 21:22] timothyfcook commented on #36
since most everyone :+1: voted it and I already got the DNS switched, let's just roll with CityasaCampus (CaaC). I like the SaaS reference a lot and it's already setup. Per Matt's note, name isn't very important right now, I just got a little carried away geeking out on available domains last night (as I often do).

We're up and running now at http://cityasacampus.org/ now we just need to make it

[2015-03-23 21:22] #36 closed

[2015-03-24 00:35] MatthewVita commented on #16
@timothyfcook

:+1: for the switch from "organization" to "organizer" (very good idea!)

:-1: for putting HTML in the JSON response. Clients should do the styling unless there are _specific cases_ where styling must be enforced from the backend/API. In those cases, I suggest markdown since it's client agnostic. At the moment, our client is a web browser but consider if non-web clients were to emer

[2015-03-24 12:10] MatthewVita commented on #30
:+1:

[2015-03-24 12:48] timothyfcook commented on #16
Cool, great feedback. The `status`, `metadata`, `errors`, fields are holdovers from the City of Learning JSON responses. I included them just in case anyone thought they were useful. The HTML versions of the names (e.g. `name.html`) is, interestingly, something that Eventbrite provides in their JSON responses, I left it there from their reference in case anyone thought it was useful.

Maybe the ht

[2015-03-24 13:25] timothyfcook commented on #32
Let's plan to meet in the chat --https://gitter.im/saxifrage/learn-- a few minutes before 10 and I'll setup a Hangout.

This will be our plan moving forward. Meet in Gitter for saxifrage/learn at 10 every Friday.

[2015-03-24 13:25] #32 closed

[2015-03-24 18:00] timothyfcook commented on #16
Okay, loaded in the Eventbrite and City of Learning JSON responses as examples, here: https://github.com/saxifrage/learn/tree/master/examples

[2015-03-24 19:33] timothyfcook opened #44 "When HTML is rendered, include RDFa"
http://rdfa.info/

I'm doing more work on this and will identify appropriate universal property definitions for all relevant data objects.

Or just include json-ld.

Both seem powerful for search engine results.

Also read that even if "pages" are rendered via Angular all modern search engine will actually run the JS and parse through everything.

[2015-03-24 19:35] timothyfcook opened #45 "Edit JSON examples to include JSON-LD"
http://json-ld.org/

[2015-03-24 19:37] timothyfcook opened #46 "Create JSON-LD Context File"
Reference existing semantic-web docs (schema.org, LRMI, etc.)

Creating/referencing a context file might be a way to help parse the differences between our data-model and the City of Learning API.

[2015-03-24 21:32] timothyfcook opened #47 "Host json-ld context file"
For reference: http://specification.openbadges.org/1.1/context.json

[2015-03-24 21:39] justinxreese opened #48 "Issues issue"
I'm wondering if there is a better place for these things that seem to be an "eventually" type issue that aren't related to the project state right now. It's getting to be really noisy and going to cause a loss of signal on things that are actionable.

Labeled this meta. Is there a meta-meta?

[2015-03-24 21:41] justinxreese commented on #48
Demonstrated by the fact that this is issue #48 on our 5 day old project :scream_cat:

[2015-03-24 21:42] timothyfcook commented on #48
haha, great point. Sorry, just started thinking about some important items I didn't want to forget. I'll sequester future-issue-type-things to the Roadmap from now on.

[2015-03-24 21:43] timothyfcook commented on #48
Just got really excited about linked data.

[2015-03-24 21:43] justinxreese commented on #48
And although sparked by your items, it's still a general question at large. Maybe the roadmap should be included in the README?

[2015-03-24 21:44] timothyfcook commented on #48
Right now it's here: http://cityasacampus.org/roadmap/

There is a link to that main page in the readme.

[2015-03-24 21:45] justinxreese commented on #48
Ah, missed that. That seems good.

[2015-03-25 00:02] MatthewVita commented on #48
Actually, I see the issues as backlog items so I say keep them coming but know that the sprints are sprints and are not allowed to incur scope creep!

[2015-03-25 00:03] justinxreese commented on #48
Yeah... but I get an email for each one.....

On Tue, Mar 24, 2015 at 8:02 PM Matthew Vita notifications@github.com
wrote:

[2015-03-25 00:03] MatthewVita commented on #48
lol, true...

[2015-03-25 03:03] MatthewVita commented on #16
@timothyfcook @justinxreese what do you guys think of this? This is a branch on my fork that changes `organizations` to `organizers`:

https://github.com/MatthewVita/learn/commit/f3f96c7b845cdf51c658d7e1f9b5ec75896c1671

[2015-03-25 03:09] justinxreese commented on #16
Instead of editing the migrations, you should write new ones. It'll look
like this

Use the command `rails g migration`

Edit the file it creates to something like this

[code]

Then do another one to rename the associations in the related tables.

Excuse weirdness in formatting. Sending from my phone.
El El mar, mar 24, 2015 a las 11:03 PM, Matthew Vita <
notifications@github.com> escribió:

[2015-03-25 20:13] timothyfcook commented on #45
Here's a first rough draft: https://github.com/saxifrage/learn/blob/master/examples/opportunity_instance_linked_data.json ...still learning about all the possibilities with this.

[2015-03-25 20:14] timothyfcook commented on #16
Re-worked that initial draft to begin referencing json-ld: https://github.com/saxifrage/learn/blob/master/examples/opportunity_instance_linked_data.json

[2015-03-27 13:39] timothyfcook commented on #23
Here are a number of good resources for combining Rails with Angular: http://www.slatestudio.com/blog/p/better-programming-with-ruby-on-rails-and-angularjs

[2015-03-27 14:30] #7 closed

[2015-03-27 14:32] chadwhitacre commented on #24
I would like to preserve our first logo for all time, by archiving it here. :-)

![cityascampus](https://cloud.githubusercontent.com/assets/134455/6869717/967681cc-d46c-11e4-9b18-112b47d5df13.jpg)

Thank you. :poodle:

[2015-03-27 14:33] #27 closed

[2015-03-27 14:37] timothyfcook opened #50 "Revise Data Model to Reflect JSON-LD Sketch"
Building on the work of #16

[2015-03-27 14:37] timothyfcook commented on #16
Moved to #50

[2015-03-27 14:39] timothyfcook opened #51 "Design and Implement Layout for Explore Page"
Reference: http://national.cityoflearning.me/explore

[2015-03-27 14:40] timothyfcook opened #52 "Design and Implement Layout for Topic Pages"

[2015-03-27 14:45] timothyfcook commented on #52
I will draw up a rough wireframe for the idea here. Current content will be organizations, good twitter accounts, event feeds, digital resource feeds.

[2015-03-27 14:45] timothyfcook commented on #52
I will draw up a rough wireframe for the idea here. Current content will be organizations, good twitter accounts, event feeds, digital resource feeds.

[2015-03-27 14:49] justinxreese commented on #28
Contacted codeship support

[2015-03-27 15:16] timothyfcook commented on #48
After some consideration, I think it makes more sense to use Github issues to keep _all_ issues for the project, even far-off ones. @justinxreese maybe setup an e-mail filter? (chad did this) When using Github issues to see what work to do, just use the filters to narrow your view to the current Sprint or specific tags.

[2015-03-27 15:16] #48 closed

[2015-03-27 15:18] timothyfcook commented on #48
Can also edit notifications settings: https://github.com/settings/notifications

[2015-03-27 15:21] #16 closed

[2015-03-27 15:27] timothyfcook commented on #24
Speaking of that, @cameronscott137 let's try to get that Docs site up today so that we don't have to look at Chad's logo anymore :dizzy_face: :facepunch:

[2015-03-27 15:30] timothyfcook opened #53 "spike out subdomain routing"
To understand risks/details for CNAME pages for Organizations, etc. Relates to #21

[2015-03-27 16:46] timothyfcook opened #55 "Add Category data-type to Organizer object"
So that we can list affiliated Organizers on the Topic/Category pages. (e.g. on the "Design & Making" page listing Assemble as an affiliated Organizer")

[2015-03-27 16:53] timothyfcook opened #56 "Decide on fixed list of Topics/Categories"

[2015-03-27 17:04] whit537 opened #57 "set up a dev env on whit537's laptop"
:-)

[2015-03-27 17:05] chadwhitacre commented on #57
[code]

[2015-03-27 17:05] timothyfcook commented on #52
Per my notes, it makes sense to refer to these as "Learning Community" pages. The design and inclusion of content should focus on this idea: one page for someone to get connected to all the relevant information if they want to join a focused community of learners in Pittsburgh.

Think of it as a meta-Meetup page.

Resources for:
- Key people to follow on Twitter, a hashtag for the community e.g. #

[2015-03-27 17:06] chadwhitacre commented on #57
[code]

[2015-03-27 17:06] timothyfcook commented on #57
put this in the readme when you are done so that I can duplicate!

[2015-03-27 17:06] chadwhitacre commented on #57
Okay!

[2015-03-27 17:08] chadwhitacre commented on #57
http://www.nokogiri.org/tutorials/installing_nokogiri.html

[2015-03-27 17:09] chadwhitacre commented on #57
http://www.nokogiri.org/tutorials/installing_nokogiri.html#mac_os_x

[2015-03-27 17:10] justinxreese commented on #57
Hey Chad, you're using a really old version of ruby there at 1.9.1. The app has a `.ruby-version` file specifying `ruby-2.1.4`

[2015-03-27 17:10] chadwhitacre commented on #57
[code]

[2015-03-27 17:11] chadwhitacre commented on #57
Okay, thanks for the heads-up. I'll see about upgrading here ...

[2015-03-27 17:12] chadwhitacre commented on #57
@justinxreese What's your preferred [manager](https://www.ruby-lang.org/en/documentation/installation/#managers)?

[2015-03-27 17:13] justinxreese commented on #57
Chruby in combination with ruby-build. Just `brew install chruby` and `brew install ruby-build` and follow the instructions

[2015-03-27 17:14] chadwhitacre commented on #57
I don't have brew installed.

/me downloads http://cache.ruby-lang.org/pub/ruby/2.1/ruby-2.1.4.tar.gz

[2015-03-27 17:15] chadwhitacre commented on #57
Promising:

https://www.ruby-lang.org/en/documentation/installation/#chruby

[2015-03-27 17:23] chadwhitacre commented on #57
[code]

I noticed that it didn't link to openssl so I may need to rebuild with some different options. We shall see.

[2015-03-27 17:25] chadwhitacre commented on #57
[code]

[2015-03-27 17:26] justinxreese commented on #57
oh

[2015-03-27 17:27] chadwhitacre commented on #57
https://github.com/postmodern/chruby#rubies-1

/me rebuilds

[2015-03-27 17:30] chadwhitacre commented on #57
https://github.com/postmodern/chruby/wiki/Ruby#requirements

[2015-03-27 17:31] chadwhitacre commented on #57
[code]

If I remember right, openssl is needed to install gems.

[2015-03-27 17:33] chadwhitacre commented on #57
/me builds https://www.openssl.org/source/openssl-0.9.8zf.tar.gz

[2015-03-27 17:35] chadwhitacre commented on #57
/me discovers he already has 0.9.8zc installed somewhere ...

[2015-03-27 17:48] timothyfcook opened #59 "Incorporate ARIA markup into HTML"
https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA

[2015-03-27 17:54] timothyfcook commented on #59
@cameronscott137 does this need to be included in the data model (or could it)?

Seems possible that some of these `role` values could be held in the database and expressed for each of our data elements in addition to adding role values to the more functional page markup.

[2015-03-27 17:58] timothyfcook commented on #35
Note from our first weekly call: try and build a more diverse team.

[2015-03-27 17:59] timothyfcook commented on #24
Let's add a page to archive our Google Hangouts.

[2015-03-27 17:59] chadwhitacre commented on #57
No "Ignore broken" message, but still:

[code]

So I installed [1.0.1m](https://www.openssl.org/source/openssl-1.0.1m.tar.gz) in case the newer Ruby needs a newer openssl. I got a warning about needing to configure manually to get a 64-bit version, which reminded me of something I saw [on SO](http://stackoverflow.com/a/16091110). I installed openssl with:

[code]

The `make depend` threw some erro

[2015-03-27 18:03] timothyfcook commented on #16
@matthannigan we're going to go ahead and start implementing this in #50 ...feel free to leave make any suggestions in #45 or in the [dev.chat](https://gitter.im/saxifrage/learn)

[2015-03-27 18:04] chadwhitacre commented on #57
[code]

[2015-03-27 18:04] chadwhitacre commented on #57
:dancer:

[2015-03-27 18:05] chadwhitacre commented on #57
I can up arrow in `irb`, so I'm not going to think further about `readline` right now.

[2015-03-27 18:07] chadwhitacre commented on #57
[code]

[2015-03-27 18:07] chadwhitacre commented on #57
[code]

[2015-03-27 18:08] chadwhitacre commented on #57
[code]

[2015-03-27 18:09] chadwhitacre commented on #57
https://gist.github.com/luislavena/f064211759ee0f806c88

[2015-03-27 18:10] chadwhitacre commented on #57
[code]

[2015-03-27 18:12] timothyfcook opened #60 "Age Segmenting Issue"
Something I've been struggling with is how to segment different age groups. Options:

1. Create separate sites (one for youth, one for adults) --- this doesn't deal nicely with the fringe cases. What about 17 year olds who could utilize resources from both?
2. Have data-driven age segmentation within a single site by automatically filtering content based on the logged-in users age range. --- this

[2015-03-27 18:14] chadwhitacre commented on #57
[code]

[2015-03-27 18:15] chadwhitacre commented on #57
[code]

[2015-03-27 18:16] chadwhitacre commented on #57
[code]

[2015-03-27 18:18] chadwhitacre commented on #57
Okay! Back to where I left off with Ruby 1.9.1 at https://github.com/saxifrage/learn/issues/57#issuecomment-87012636:

[code]

[2015-03-27 18:19] chadwhitacre commented on #57
http://www.nokogiri.org/tutorials/installing_nokogiri.html#mac_os_x

[2015-03-27 18:20] chadwhitacre commented on #57
[code]

[2015-03-27 18:21] chadwhitacre commented on #57
Same error.

[2015-03-27 18:22] chadwhitacre commented on #57
[code]

![screen shot 2015-03-27 at 2 22 26 pm](https://cloud.githubusercontent.com/assets/134455/6874331/b65c6f4a-d48c-11e4-82e2-a05b57cf45b7.png)

[2015-03-27 18:27] chadwhitacre commented on #57
[code]

[2015-03-27 18:27] chadwhitacre commented on #57
[code]

[2015-03-27 18:30] chadwhitacre commented on #57
[code]

[2015-03-27 18:34] chadwhitacre commented on #57
[code]

I guess I would've expected `bundle install` to install `rails`. Does bundler use the Gemfile? [It does mention `rails`](https://github.com/saxifrage/learn/blob/107185d56081d4b22e26c682543c70b5c4434f77/Gemfile#L4).

[2015-03-27 18:36] chadwhitacre commented on #57
From the `bundle install` output above at https://github.com/saxifrage/learn/issues/57#issuecomment-87044351:

[code]

Hmm ...

[2015-03-27 18:37] chadwhitacre commented on #57
[code]

That partially explains why I have a `rails` executable but no `rails` library.

[2015-03-27 18:38] chadwhitacre commented on #57
Where did `bundle install` install to? Where is the right `rails` executable?

[2015-03-27 18:38] chadwhitacre commented on #57
/me removes the old one.

[2015-03-27 18:38] chadwhitacre commented on #57
[code]

[2015-03-27 18:39] chadwhitacre commented on #57
[code]

Hmm ... no 2.1.4?

[2015-03-27 18:39] chadwhitacre commented on #57
That's not right. :-/

[code]

[2015-03-27 18:41] chadwhitacre commented on #57
[gitter](https://gitter.im/saxifrage/learn?at=5515a42fc183f73134d074f3)

[2015-03-27 18:42] chadwhitacre commented on #57
[code]

[2015-03-27 18:43] chadwhitacre commented on #57
Hey! :dancer:

[code]

[2015-03-27 18:44] chadwhitacre commented on #57
Interesting. These are in source control, eh?

https://github.com/saxifrage/learn/tree/107185d56081d4b22e26c682543c70b5c4434f77/bin

:mouse:

[2015-03-27 18:45] chadwhitacre commented on #57
BLAM!!!!!!!!!!!!!!!!!!!!!!!!!!!!! :dancer:

[code]

![screen shot 2015-03-27 at 2 45 12 pm](https://cloud.githubusercontent.com/assets/134455/6874713/e4e2df54-d48f-11e4-875b-47ecdc6027c6.png)

[2015-03-27 18:47] chadwhitacre commented on #57
/me reinstalls ruby at `/opt/rubies/ruby-2.1.4` so it gets picked up by `.ruby-version`.

https://github.com/postmodern/chruby#default-ruby

[2015-03-27 18:49] chadwhitacre commented on #57
Looks like the db name is fixed in configuration:

[code]

[2015-03-27 18:49] chadwhitacre commented on #57
[code]

[2015-03-27 18:52] chadwhitacre commented on #57
Okay! :dancer:

[code]

[2015-03-27 18:52] chadwhitacre commented on #57
[code]

Yesssssssssssss.

[2015-03-27 18:54] chadwhitacre commented on #57
![screen shot 2015-03-27 at 2 53 53 pm](https://cloud.githubusercontent.com/assets/134455/6874876/1b791c26-d491-11e4-8294-98a3684e3729.png)

[2015-03-27 18:55] chadwhitacre commented on #57
[code]

![screen shot 2015-03-27 at 2 55 06 pm](https://cloud.githubusercontent.com/assets/134455/6874895/46649488-d491-11e4-8e85-f384d96c2714.png)

[2015-03-27 18:55] chadwhitacre commented on #57
Okay! Now how do I run the test suite?

[2015-03-27 18:55] chadwhitacre commented on #57
Hrm, Rakefile unhelpful.

[2015-03-27 18:56] chadwhitacre commented on #57
Nothing in `lib/tasks/` or `lib/tasks/.keep`.

[2015-03-27 19:00] chadwhitacre commented on #57
https://codeship.com/projects/69801/builds/4783663 gives me the test suite invocation, of course. :-)

[2015-03-27 19:01] justinxreese commented on #60
Age groups as in people that are allowed or people that are interested?

[2015-03-27 19:01] chadwhitacre commented on #57
Hrm ...

[code]

[2015-03-27 19:03] chadwhitacre commented on #57
[code]

[2015-03-27 19:04] chadwhitacre commented on #57
[code]

[2015-03-27 19:04] chadwhitacre commented on #57
Blam. :-)

Okay! :dancer:

[2015-03-27 19:16] chadwhitacre commented on #53
https://www.google.com/search?q=rails+subdomain+routing

http://asciicasts.com/episodes/221-subdomains-in-rails-3
http://guides.rubyonrails.org/routing.html
http://stackoverflow.com/questions/21536986/rails-routes-url-and-subdomains
http://www.raysrashmi.com/2014/07/23/rails-routes-constraints
http://richonrails.com/articles/basic-subdomains-in-ruby-on-rails
https://gist.github.com/bsodmike/136941

[2015-03-27 19:19] chadwhitacre commented on #53
/me settles on http://guides.rubyonrails.org/routing.html.

[2015-03-27 19:21] justinxreese commented on #53
This is a dupe of #15

[2015-03-27 19:21] #53 closed

[2015-03-27 19:21] MatthewVita commented on #60
This is a big deal. I think we should list out our options and vote on it:

1) show all courses/resources for all ages
2) show age-range specific courses/resources as based on the auth'd user's age, if non-auth'd user, show all courses/resources for all ages
3) show age-range specific courses/resources as based on the auth'd user's age, if non-auth'd user, show a modal asking for age range (persis

[2015-03-27 19:22] chadwhitacre commented on #53
Thanks.

[2015-03-27 19:22] chadwhitacre commented on #15
https://www.google.com/search?q=rails+subdomain+routing

http://asciicasts.com/episodes/221-subdomains-in-rails-3
http://guides.rubyonrails.org/routing.html
http://stackoverflow.com/questions/21536986/rails-routes-url-and-subdomains
http://www.raysrashmi.com/2014/07/23/rails-routes-constraints
http://richonrails.com/articles/basic-subdomains-in-ruby-on-rails
https://gist.github.com/bsodmike/136941

[2015-03-27 19:22] chadwhitacre commented on #15
/me starts with http://guides.rubyonrails.org/routing.html.

[2015-03-27 19:25] justinxreese commented on #60
I think organizations will make the call on this. They will most often only hold events for one age range. Or if they're like the library, where they're hosting multiple age groups, probably want them all to be listed on the same platform.

[2015-03-27 19:47] MatthewVita commented on #60
@justinxreese right, the organizers can choose the age ranges but it's the colliding of irrelevant event topics I believe we're talking about. For example, "Jean-Paul Sartre: A Survey", "Gender, Sexuality, and the Body in Islam", and "Basic Reading Skills" could all show up in one place.

(Clearly the philosophy course and the sexuality course are more adult-oriented and the reading course is more

[2015-03-27 19:54] justinxreese commented on #60
That'll be a problem at any scope I think. When you get down to a level, there will always be a segmentation of the group. "Basic Reading Skills" certainly is significantly different than "Basic Art Skills". All event based things struggle with this, but we should look at some of the leaders that have come up with displaying `SELECT *` in creative ways:

https://www.eventbrite.com/
http://www.tick

[2015-03-27 20:18] MatthewVita commented on #60
good points.

How do you feel about something like option 2 then? `If (user.isAuth && isNum(user.age))`, query with a `WHERE`, otherwise no `WHERE`.

[2015-03-27 20:23] chadwhitacre commented on #15
Done for today. At this point I'm planning to pick up with this again next Friday morning. I won't be down here at the office but I should be able to get a few hours in early before our 10:00 call. The Friday after that I'm out completely, so I'll see what I can squeeze in that week.

[2015-03-27 20:35] timothyfcook opened #62 "Setup API endpoints for opportunities/instances by organization"

[2015-03-27 20:47] timothyfcook opened #63 "Build Client-Side Models w AngularJS"
For 3rd party organizations API. It seems like we could get started on this sooner than later. Although we tabled this in the conversation in #33 it might not hurt to get this going so that we don't have to re-implement it later on.

[2015-03-28 03:49] MatthewVita commented on #23
Okay, I'll work on wiring this up. Do we have wireframes on the feature itself?

[2015-03-28 04:14] MatthewVita commented on #56
If this is seed data, then we already have a small conversation going on about that here: https://github.com/saxifrage/learn/issues/30 :)

What are the high-level topics that we know have courses in PGH?

[2015-03-28 18:57] timothyfcook commented on #56
Here's what we can start with:
- Robotics
- Design & Making
- Coding & Gaming
- Media-Making
- Food & Gardening
- Storytelling
- Civic Engagement
- Art and Performance
- Energy & Environment

[2015-03-28 19:01] timothyfcook commented on #56
Long-term, we'll have to figure out how to do this. I'm not sure if we should always seed the Topics list (and limit it to a particular set) or open it up to tagging by the community and create the Major Topics list based on the topics that have the most tagged pieces of content.

[2015-03-28 19:18] timothyfcook commented on #60
Eventbrite/Ticketmaster/Showclix are not the best example per se, since they none of them are really seeing Youth as a primary user. We have two very different primary users: youth and adults.
If I am 13 years old and I go to the Explore page it's really confusing/unhelpful to be browsing options, 70% of which I probably should not attend. Vice versa for the adult case.

I'm for option 3 as well.

[2015-03-28 19:41] MatthewVita commented on #56
seeding !== limiting the topics to a particular set

The users would always be able to add more later

[2015-03-28 19:42] MatthewVita commented on #23
@timothyfcook this will get us started:

https://github.com/saxifrage/CaaC-feed-obj

[2015-03-28 19:45] MatthewVita commented on #60
I'm thinking option 2 is the best for an MVP and option 3 is the long term option.

I like what you're saying about the `opportunity` presenting the range :+1:

[2015-03-31 12:50] timothyfcook opened #65 "Reference API endpoints from JS"
Angular?

[2015-03-31 12:59] timothyfcook commented on #51
@cameronscott137 let me know if you need anything for this.  @MatthewVita did some good work that will help you easily pull in the `opportunity_instance` data.

[2015-03-31 13:04] timothyfcook opened #66 "Create Platform Variables File"
We should have one file where we can change ALL of the major variables to enable easy "white-label" customization. We started on this here: https://github.com/EntelekiaLearning/Website/issues/9

This time we should add some .css attributes (e.g. color scheme, etc.)

[2015-03-31 13:05] timothyfcook commented on #63
From @MatthewVita -- For the Explore Page/explore page embed:

ToDo List:
1. search validation
2.add media queries
3. add another \* endpoint in test data
4. clean up deps
5. add better (smaller) images in test data
6. cleanup code
7. more/better datatypes in test data
8.lazy loading
9.put jquery feed in `/etc`
10. write up README
11. push to github

[2015-03-31 13:07] timothyfcook commented on #51
When writing the .css be sure to reference the global variables setup in #66 for all major color uses, etc. Also, as you work, think of what you can add to the platform variables file by asking the question: "If I was a new city and wanted to easily adapt the platform for my use, what design elements would I need to change?" ....basically any attribute that repeats and is specific to a local use o

[2015-03-31 15:46] timothyfcook opened #67 "Sketch Data Model for Learner-Users"

[2015-03-31 15:47] timothyfcook opened #68 "Sketch Data Model for Organizer-Users"
For dashboard.

[2015-03-31 15:48] timothyfcook commented on #24
@cameronscott137 I'll take this one over so you can focus on getting the Explore page, etc. so that @MatthewVita and @justinxreese aren't bottle-necked waiting on design.

[2015-04-01 18:53] timothyfcook commented on #24
Finished! `git push origin gh-pages --force` accomplished. We are now live at [cityasacampus.org](http://cityasacampus.org/)

[2015-04-01 19:31] #24 closed

[2015-04-01 19:32] #56 closed

[2015-04-02 12:53] timothyfcook opened #69 "rake db:setup fail"
`Couldn't create database for {"adapter"=>"postgresql", "encoding"=>"utf8", "database"=>"learn_test", "pool"=>5, "host"=>"localhost"}
-- enable_extension("plpgsql")
rake aborted!
PG::ConnectionBad: could not connect to server: Connection refused
	Is the server running on host "localhost" (127.0.0.1) and accepting
	TCP/IP connections on port 5432?
could not connect to server: Connection refused
	Is

[2015-04-02 13:54] MatthewVita commented on #69
Tim,

Is the Postgres service running? Please run `$ netstat -na` and check to
see if port `:5432` is in there.

Thanks,

Matthew Vita
www.matthewvita.com

On Thu, Apr 2, 2015 at 8:53 AM Tim Cook notifications@github.com wrote:

[2015-04-02 17:28] timothyfcook commented on #69
No port 5432. How do I make sure I'm accepting TCP/IP connections on that port?

[2015-04-02 18:20] MatthewVita commented on #69
Tim,

Postgres probably isn't running... how'd you install it? Brew?

I'm a Linux/Windows guy so I won't be able to help you get the service
running on a Mac (don't know the conventions there), but that's what you'll
need to do :)

Thanks,

Matthew Vita
www.matthewvita.com

On Thu, Apr 2, 2015 at 1:28 PM Tim Cook notifications@github.com wrote:

[2015-04-02 18:28] cameronscott137 commented on #69
Tim: If it's simpler, I can help you get up and  running tomorrow morning first thing. It can be kind of a tricky thing to troubleshoot remotely.

---Sent from Boxer | http://getboxer.com

On April 2, 2015 at 2:20:08 PM EDT, Matthew Vita notifications@github.com wrote:Tim,  Postgres probably isn't running... how'd you install it? Brew?  I'm a Linux/Windows guy so I won't be able to help you get th

[2015-04-02 20:14] timothyfcook commented on #69
Yeah looks like psql is not running. I did use brew.

Noob alert.

[2015-04-02 20:14] timothyfcook commented on #69
Thanks Cameron!

[2015-04-03 12:48] chadwhitacre commented on #69
Another option: http://postgresapp.com/.

[2015-04-03 12:59] chadwhitacre commented on #15
/me back.

[2015-04-03 13:00] timothyfcook commented on #15
welcome back!

[2015-04-03 13:04] chadwhitacre commented on #15
:-)

[2015-04-03 13:05] chadwhitacre commented on #15
Alright, so I've got my dev environment all ready (#57). What's my target here?

STREAM OF CONSCIOUSNESS GO!!!!!!!!!!!!!!!!!! :racehorse:

[2015-04-03 13:05] chadwhitacre commented on #15
http://www.davesouth.org/blog/rails/rails-subdomains-cnames-and-crzy-me

[2015-04-03 13:08] chadwhitacre commented on #15
I'm trying to get [vcap.me](https://github.com/cloudfoundry-attic/vcap) to work. It's supposed to route to localhost to aid with development in subdomain/CNAME kind of situations.

[2015-04-03 13:09] chadwhitacre commented on #15
vcap.me indeed resolves to 127.0.0.1:

[code]

[2015-04-03 13:11] chadwhitacre commented on #15
However:

http://localhost:3000/ ← fine
http://127.0.0.1:3000/ ← not fine

[2015-04-03 13:12] chadwhitacre commented on #15
[code]

Yay!

[2015-04-03 13:13] chadwhitacre commented on #15
Okay! Now to route something differently based on `Host` ...

![screen shot 2015-04-03 at 9 13 07 am](https://cloud.githubusercontent.com/assets/134455/6982597/b79395c8-d9e1-11e4-8a73-7cf5eda0472b.png)

[2015-04-03 13:17] timothyfcook commented on #15
The goal here is: Once Organizers have their own page on which their events are listed (e.g. http://national.cityoflearning.me/organization-details?id=30) we want them to be able to create a CNAME page on their own domain that has that page on it. They should be able to set this up in the Organizer dashboard when they log in.

[2015-04-03 13:19] chadwhitacre commented on #15
http://guides.rubyonrails.org/routing.html#request-based-constraints

[2015-04-03 13:20] justinxreese commented on #69
We could use something like https://github.com/ddollar/foreman to ensure dependent services are running to start the app. Not sure it's worth it right now with just postgres. Next service we add, I'll add foreman

[2015-04-03 13:21] timothyfcook commented on #69
Yeah, I was looking at that... but I didn't see a homebrew install option.

Aw, it's a cute elephant!

....and, victory!
![screen shot 2015-04-03 at 9 20 49 am](https://cloud.githubusercontent.com/assets/1823300/6982664/d5936b38-d9e2-11e4-939e-0be67a376018.png)

[2015-04-03 13:21] #69 closed

[2015-04-03 13:21] justinxreese commented on #69
But yeah. That's definitely the reason. Just start postgres

`pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start`

edit: posted at the same time as the comment above. disregardable

[2015-04-03 13:23] chadwhitacre commented on #15
I'm not sure yet that I want to route things differently. At this point I want to simply vary something based on the `Host`. Rather than focusing on `routes.rb` right now I'm going to try to get the `Host` header to display on the page.

[2015-04-03 13:29] timothyfcook commented on #37
Have Mac, just need Windows. Did we lose the Linux install instructions or are those the same? Will assign this to @MatthewVita now

[2015-04-03 13:30] timothyfcook commented on #45
Good enough for now.

[2015-04-03 13:30] #45 closed

[2015-04-03 13:30] chadwhitacre commented on #15
O.O

![screen shot 2015-04-03 at 9 30 16 am](https://cloud.githubusercontent.com/assets/134455/6982767/10487b5a-d9e4-11e4-9aca-d3a88f47d3dd.png)

[2015-04-03 13:31] chadwhitacre commented on #15
I've figured out how to change HTML on the site. :)

![screen shot 2015-04-03 at 9 31 09 am](https://cloud.githubusercontent.com/assets/134455/6982778/2f9cbe12-d9e4-11e4-8d6c-7a96df0b0dcd.png)

[2015-04-03 13:31] justinxreese commented on #37
I nixed instructions to install dependent services and simply listed them. It's not really on us to prescribe how to install postgres. That information should come from the official postgres documentation. Save that, our application installs and runs the same in all environments.

[2015-04-03 13:45] chadwhitacre commented on #15
Blam.

![screen shot 2015-04-03 at 9 44 44 am](https://cloud.githubusercontent.com/assets/134455/6982947/181e2580-d9e6-11e4-895b-054741ae07fa.png)

[2015-04-03 13:47] chadwhitacre commented on #15
All right! So now to filter [`@opportunities`](https://github.com/saxifrage/learn/blob/f6144b1eb19bdcf4524c6aa9c4ba0050405a7c2f/app/controllers/application_controller.rb#L7) based on `Host`.

[2015-04-03 13:49] chadwhitacre commented on #15
http://guides.rubyonrails.org/active_record_querying.html#conditions

[2015-04-03 14:01] timothyfcook opened #73 "JOIN HANGOUT : )"
https://plus.google.com/hangouts/_/hoaevent/AP36tYczyAJuFpWVTwqDlB3dKqYr8ec--TbrtmpIb_NGqZ6pdZWMDA

[2015-04-03 14:02] chadwhitacre commented on #15
PR started in #74.

[2015-04-03 14:05] chadwhitacre commented on #73
:)

[2015-04-03 14:09] justinxreese commented on #28
Just not possible :(

[2015-04-03 14:09] #28 closed

[2015-04-03 14:12] chadwhitacre commented on #28
Discussed on https://www.youtube.com/watch?v=d_1t11KZslc. We can move the GitHub pages site to its own repo if it gets to be a problem to have it as a branch in the same repo.

[2015-04-03 14:13] #73 closed

[2015-04-03 14:28] chadwhitacre commented on #37
I think we're all up and running now, ya?

[2015-04-03 14:28] #37 closed

[2015-04-03 14:31] timothyfcook opened #75 "Add Seed Data to DB"

[2015-04-03 14:37] timothyfcook commented on #65
.json files already exist: http://learnpgh.herokuapp.com/opportunities/1/.json new data fields are being updated by @justinxreese

[2015-04-03 14:39] chadwhitacre commented on #62
cc: @justinxreese

[2015-04-03 14:56] timothyfcook opened #77 "Create Learner and Organizer User Stories"

[2015-04-03 16:16] timothyfcook opened #79 "Create Monomark for CaaC Brand"
For Chelsea when she on-boards.

[2015-04-03 16:18] timothyfcook opened #80 "Start Style Guide in Docs Site"
For Chelsea.

If you don't want to clone the repo using Github you can just very simply edit the markdown file in the browser here: https://github.com/saxifrage/learn/blob/gh-pages/_posts/2015-04-01-branding.md

[2015-04-03 17:27] MatthewVita opened #81 "heroku"
uh oh https://news.ycombinator.com/item?id=9315144

...should we move to Digital Ocean?

[2015-04-03 21:30] MatthewVita commented on #65
I'm already working on this with the Explore page (which will be full blown Angular with our app and jQuery based for the small embedded feed)

[2015-04-03 21:30] MatthewVita commented on #65
...or am I missing the point of this issue?

[2015-04-03 21:35] MatthewVita commented on #37
@whit537 yep, the install instructions work. @timothyfcook most Windows people use http://www.mingw.org/ so the *nix instructions work (well, as long as the user has the programs installed/configured like Justin mentioned)

:)

[2015-04-04 02:31] MatthewVita commented on #66
https://github.com/saxifrage/CaaC_Explore/blob/master/app/shared/conf/ConfService.js

[2015-04-04 02:31] #66 closed

[2015-04-04 02:34] MatthewVita commented on #66
Let me know about CSS attributes as they come up, but this config service should do the trick for our frontend stuff.

Also, a lot of front-end people like to use Sass/LESS/Stylus/etc variables for global styles (e.x.: `$NAV_COLOR = #2B1B17`)... @cameronscott137, what's your preference?

[2015-04-04 02:38] MatthewVita commented on #23
This is blocked\* until we get the main Explore feature done. I did commit my main work here, however: https://github.com/saxifrage/CaaC_Explore/tree/master/embedded

*should we add a "blocked" label for these kind of cases?

[2015-04-04 02:39] MatthewVita commented on #63
can we close this because of https://github.com/saxifrage/learn/issues/65 ?

[2015-04-04 02:39] MatthewVita commented on #65
please see https://github.com/saxifrage/CaaC_Explore

@whit537 I believe Tim asked you to talk with me about this issue (from the hangout).

@timothyfcook thanks for recording the hangouts, btw. Really helps me stay in the loop!

[2015-04-07 17:09] timothyfcook commented on #65
Cool, yeah, sorry. Some of the issues may be redundant. Feel free to remove some or fold them together. Basically the hope for this week is:
- Justin gets the DB squared away and serves up JSON
- You wrap it up in Angular and work with Cameron to put it into his nice new design.
- Cameron finishes the design with Chelsea and we have a working/attractive Explore page to look at by Friday!

[2015-04-07 17:10] #63 closed

[2015-04-07 17:38] MatthewVita commented on #65
can't promise the filtering/lazy loading by end of week... I've got the stomach flu :(

[2015-04-08 14:44] timothyfcook commented on #65
Ouch. No worries. I'm sick also : (

[2015-04-08 21:40] cameronscott137 commented on #51
've attached a polished mockup of the layout that @timothyfcook, @cheleaserdner and I did last Friday: https://www.dropbox.com/s/u7mow1xhbwvu425/CaaC_Explore_04072015.pdf?dl=0

Intent is similar to: https://www.tumblr.com/explore/trending (except our layout will be fluid.)
Interaction is similar to: http://masonry.desandro.com/

Our goal here is to present a seemingly endless cascade of opportunit

[2015-04-09 16:24] zavg commented on #32
Hi guys! Please feel free to check out new service to hold regular online meetups using Google Hangouts on Air: [webmeetups.net](webmeetups.net).

The service automatically reminds about meetup start in a day and in an hour, deals with time zones, allows you to select active participants and watchers if there are more then 10 attending people. You get rid of Hangouts url and Youtube url copy-pasti

[2015-04-09 16:39] zavg commented on #32
Hi guys! Please feel free to check out new service to hold regular online meetups using Google Hangouts on Air: [webmeetups.net](webmeetups.net).

The service automatically reminds about meetup start in a day and in an hour, deals with time zones, allows you to select active participants and watchers if there are more then 10 attending people. You get rid of Hangouts url and Youtube url copy-pasti

[2015-04-09 16:44] zavg commented on #32
Hi guys! Please feel free to check out new service to hold regular online meetups using Google Hangouts on Air: [webmeetups.net](webmeetups.net).

The service automatically reminds about meetup start in a day and in an hour, deals with time zones, allows you to select active participants and watchers if there are more then 10 attending people. You get rid of Hangouts url and Youtube url copy-pasti

[2015-04-09 16:45] zavg commented on #32
Hi guys! Please feel free to check out new service to hold regular online meetups using Google Hangouts on Air: [webmeetups.net](webmeetups.net).

The service automatically reminds about meetup start in a day and in an hour, deals with time zones, allows you to select active participants and watchers if there are more then 10 attending people. You get rid of Hangouts url and Youtube url copy-pasti

[2015-04-09 20:54] timothyfcook commented on #50
https://github.com/saxifrage/learn/blob/master/examples/opportunity_instance_linked_data.json

[2015-04-09 21:02] timothyfcook commented on #51
I like the truncated `short_description` field and `event_logo` I'll add those to issue for #50 for @justinxreese to finish revising the data model.

[2015-04-09 21:03] timothyfcook commented on #50
@justinxreese also add: a `short_description` (limited to 160 characters) and `event_logo` per #51

[2015-04-09 21:10] justinxreese commented on #75
Awaiting code review from @whit537 and then a merge

[2015-04-09 21:12] timothyfcook commented on #51
@cameronscott137 did you get @cheleaserdner on Github yet?

[2015-04-09 21:13] chelseaerdner commented on #51
Hi @timothyfcook, I made an account as of yesterday. Still finding my way around but, I am here!

[2015-04-09 21:13] justinxreese commented on #81
No. We should pay $7. The amount of overhead on any other setup is not worth $7 (DO doesn't have a free plan, lowest is $5/month, so it's not worth $2).

[2015-04-09 21:14] timothyfcook commented on #75
Does this finish #50 also? Maybe merge without him if necessary.

[2015-04-09 21:14] justinxreese commented on #75
No. Just #75

[2015-04-09 21:15] timothyfcook commented on #51
awesome! Welcome aboard. I'll add you to the Github team officially.... nvm looks like Cameron did.

[2015-04-09 21:15] justinxreese commented on #62
Same. Awaiting @whit537 code review.

[2015-04-09 21:22] timothyfcook commented on #81
Cool. Let me know if and when we need to upgrade.

[2015-04-09 21:23] #81 closed

[2015-04-09 21:24] timothyfcook commented on #51
@cameronscott137 need any help getting code ready for tomorrow? Do you need anything from @justinxreese ?

[2015-04-09 22:51] cameronscott137 commented on #51
@timothyfcook Negative. Thank you.

[2015-04-09 22:57] MatthewVita commented on #51
@cameronscott137 looks good!

Note: lazy loading/infinite scroll is on my todo list: https://github.com/saxifrage/CaaC_Explore#todo

Do you do HTML/CSS (or any preprocessor alternatives) or do you want me to convert the PDF over? Will there be search filtering since you didn't include those controls in your design? (I mean, it makes life easier for me, but I'm more than willing to code the filteri

[2015-04-09 23:09] MatthewVita commented on #81
oh, my bad. I didn't see that it was only $7/month >.<

Thanks,

Matthew Vita
www.matthewvita.com

On Thu, Apr 9, 2015 at 5:23 PM Tim Cook notifications@github.com wrote:

[2015-04-09 23:46] timothyfcook commented on #51
@cameronscott137 cool. are you going to point to the actual seed data from the API endpoints ( #62 ) or just code a mock-up view sans data?

[2015-04-10 01:49] justinxreese commented on #50
Going to use this tomorrow https://github.com/rails-api/active_model_serializers

[2015-04-10 04:27] #75 closed

[2015-04-10 04:27] #62 closed

[2015-04-10 04:33] justinxreese commented on #50
@timothyfcook I don't understand why an opportunity instance has multiple "meeting times". Isn't that the purpose of the opportunity instance?

[2015-04-10 04:49] justinxreese commented on #50
Got a lot of the way there. Need info to continue.

[2015-04-10 19:09] timothyfcook commented on #52
Some of these things could be modular and toggled on/off if the host doesn't have the bandwidth or interest to curate additional content.

[2015-04-10 20:10] timothyfcook commented on #50
Cool. Here's an example to explain your question:
- Picture a 4-part beginner coding workshop that is a recurring offering from Code and Supply. Students sign up for all four sessions at once. They need to know when the meetings times for those four sessions. All four sessions, taken in total, are a single `opportunity_instance` of the "Beginner Coding Workshop Series" `opportunity` and each insta

[2015-04-10 20:11] timothyfcook commented on #79
@chelseaerdner add the .pdf to this issue and as you share work with me do it here as well, rather than via e-mail.

Thanks! Good start on the logos.

[2015-04-10 20:45] chelseaerdner commented on #79
Hi all,

Below are the two CaaC brand options we reviewed today. The outcome of our conversation was to take the first option and step back from showcasing cities as a focal point of the brand and incorporate the idea of connections in a more technical way. Keep the same approach style-wise with the bold, circular monomark but explore a grid, interconnection layers, and bringing people together.

[2015-04-10 22:22] MatthewVita commented on #79
WOW, Looks beautiful.

![](http://i.imgur.com/7drHiqr.gif)

[2015-04-11 19:53] MatthewVita commented on #79
so I implemented my mocked up client with the new navbar search approach and added a skeleton to mimick the new design (I'll need the actual HTML/CSS when @cameronscott137  and @chelseaerdner get the chance, however):

![alt tag](http://i.imgur.com/zc8UIqu.png)

https://github.com/saxifrage/CaaC_Explore/commit/09edeaef6d8a4ccc440d07f416a229683b4f542e

[2015-04-11 21:54] timothyfcook commented on #79
Nice. I think @cameronscott137 is coding it up, he just needs the JS/angular to put dynamic data into the HTML per #51

[2015-04-11 23:16] MatthewVita commented on #79
## navbar:
- markup: https://github.com/saxifrage/CaaC_Explore/blob/master/app/shared/navbar/NavbarView.jade
- styles: https://github.com/saxifrage/CaaC_Explore/blob/master/app/shared/navbar/NavbarStyle.styl

## explore:
- markup: https://github.com/saxifrage/CaaC_Explore/blob/master/app/explore/ExploreView.jade
- styles: https://github.com/saxifrage/CaaC_Explore/blob/master/app/explore/ExploreSty

[2015-04-11 23:35] MatthewVita opened #83 "Opportunities Filter Ranges"
We need to support things like `opportunities.json?start=0&end=19` for the lazy loading feature

[2015-04-11 23:58] timothyfcook opened #84 "Expand Seed Data"
in Seeds.rb

[2015-04-12 00:00] MatthewVita commented on #84
:+1:

[2015-04-12 00:02] timothyfcook commented on #51
@cameronscott137 looks like @MatthewVita has all the Angular variables created. He's going to point them at the JSON endpoints for "real" data. Once you have those html/css files done, share them with him and he can add in the variables (or you could work with him on it).

Sounds like it will easiest (for now) to get a mockup of the site running in his Angular repo, then later we can work with @ju

[2015-04-12 00:07] timothyfcook opened #85 "Translate City of Learning Data Model into CaaC Data Model"

[2015-04-12 00:07] #47 closed

[2015-04-12 00:08] MatthewVita opened #86 "Search"
We need to support things like `opportunities/{{searchTerm}}.json` for the explore feature

[2015-04-12 00:08] timothyfcook commented on #29
once @chelseaerdner gives us a favicon we can make this happen.

[2015-04-12 00:10] MatthewVita commented on #51
@timothyfcook I just realized I may be blocked because of https://github.com/saxifrage/learn/issues/86 :C

[2015-04-12 00:13] timothyfcook commented on #86
Hmmm makes sense. @justinxreese thoughts? ...you could at least display all opportunities for now?

[2015-04-12 00:13] timothyfcook commented on #86
Or filter opportunities by topic?

[2015-04-12 00:14] MatthewVita commented on #86
for example, this is what I'm doing with my silly test data server https://github.com/saxifrage/CaaC_Explore/blob/master/data-server/server.js#L61

[2015-04-12 20:22] justinxreese commented on #50
To me, those sound like opportunities and opportunity instances. There are 4 opportunities and N opportunity instance for each

[2015-04-13 14:58] timothyfcook commented on #50
1. `opportunity` - "Beginner Coding Workshop Series" --- sort of a template for ALL Beginner Coding Workshops that will ever happen
2. `opportunity_instance` - "Beginner Coding Workshop Series: Summer, 2015" --- an instance of the four-week workshop series.
3. `meeting_time` - "Beginner Coding Workshop Series: Summer, 2015 - Second Meeting, 7/18/2015" --- The second meeting time for the four-part

[2015-04-13 15:02] timothyfcook opened #87 "Evening Session"
@MatthewVita can you, @cameronscott137, and myself do some hacking some evening this week? I'll buy dinner. Can do any night. ....maybe @justinxreese can join via video.

Now that #51 is just about done I'd like to get it up and running asap so we have something to look at and build from. Would especially love to sort out the Angular/Rails integration once and for all. But the foremost goal is to

[2015-04-13 15:20] justinxreese commented on #50
I think more often than not, that'll add overhead to an organizer's workflow. What if instead, `Opportunity` instances where clone-able?

[2015-04-13 15:22] justinxreese commented on #50
Note, I don't mean `OpportunityInstance` instances.... :scream_cat:

[2015-04-13 15:30] timothyfcook commented on #50
haha, I had to catch myself on that as well. Yeah, that's similar to how the City of Learning people do it. Their `opportunity` is just a clone-able template for `opportunity_instance`...

Ok, that will work. So maybe we don't need `opportunity_instance` ? Just use `opportunity` and have `meeting_time`s ... ?

`meeting_time` just being time/dates of each meeting for that `opportunity`

[2015-04-13 15:40] justinxreese commented on #50
Yeah. Right now, `OpportunityInstance` objects act similar to how you've described `MeetingTimes`. Should we rename `OpportunityInstance` to `MeetingTimes`?

[2015-04-13 15:45] timothyfcook commented on #50
Sounds good. That wasn't how I envisioned `opportunityInstance` I think `MeetingTimes` makes more sense.

[2015-04-13 16:09] timothyfcook commented on #77
Brief sketches:
1. ORGANIZERS:

**Grow Pittsburgh** wants to host a number of their educational events on our site. They are excited about the regional appeal of our platform, but also want to have their own page that shows just their events at learn.growpittsburgh.org

They have a number of one-off workshops (Garden Primers), they have full-season apprenticeships, they have recurring once-a-week

[2015-04-13 16:09] #77 closed

[2015-04-13 16:10] timothyfcook commented on #50
Assuming that change, I'm going to close this as mark it "good enough" for now.

[2015-04-13 16:10] #50 closed

[2015-04-13 16:15] timothyfcook opened #88 "Integrate Angular Data-Binding into Rails App"
In our final Explore page we want the content to load using angular data-binding that is pointed at our own API.

@MatthewVita has this up and working to some degree here: https://github.com/saxifrage/CaaC_Explore

but we should fold everything into one sweet Angular-on-Rails repo. In general, let's define how they work together in the MVC framework.

Just spitballing here, but seems like we can u

[2015-04-13 16:16] #43 closed

[2015-04-13 16:19] #39 closed

[2015-04-13 16:55] MatthewVita commented on #88
Often, MV\* clients (such as Angular) consume a backend API (RoR, .NET Web API, Flask, etc). It's just a separation of client and server, no need to limit RoR to just Models.

[2015-04-13 16:56] MatthewVita commented on #88
where "API" === "RESTful JSON API", of course :)

[2015-04-13 16:57] MatthewVita commented on #87
will definitely be able to schedule this in... I'll share my availability once I update my schedule :)

[2015-04-13 17:26] timothyfcook commented on #87
Excellent!

[2015-04-14 03:59] MatthewVita commented on #87
...would Wednesday work? 4pm?

[2015-04-14 13:47] timothyfcook commented on #87
Works great for me. @cameronscott137 ?

[2015-04-14 20:05] cameronscott137 commented on #87
I'm onsite in Oakland all day until right around four. Will try and hustle
out of there ASAP, but as long as you're cool with the potential for a 4:15
start, that works for me, too. Look forward to meeting you, Matthew!

On Tue, Apr 14, 2015 at 9:47 AM, Tim Cook notifications@github.com wrote:

##

Cameron
(610) 883-7342

[2015-04-14 20:05] timothyfcook commented on #87
Sounds great. Let's meet here at the Sprout Fund! I'll procure dinner for us.

[2015-04-14 20:12] MatthewVita commented on #87
@cameronscott137 looking forward to meeting you as well.

...how about 4:30 just to be safe?

[2015-04-14 20:14] cameronscott137 commented on #87
It's like you already know me ;)  4:30 sounds good.

On Tue, Apr 14, 2015 at 4:12 PM, Matthew Vita notifications@github.com
wrote:

##

Cameron
(610) 883-7342

[2015-04-14 20:15] MatthewVita commented on #87
![](http://media.giphy.com/media/oYK11dXjrkXh6/giphy.gif)

[2015-04-14 20:15] #87 closed

[2015-04-15 14:16] MatthewVita commented on #88
...going to follow some RoR + Angular tutorials to set up a barebones Docker container to try things out/see what works

[2015-04-16 00:21] MatthewVita opened #89 "Client Side Tasks"
@timothyfcook  @cameronscott137 it was nice working with you today! I feel that we laid down some foundations, agreed on overall approaches, and made good progress.

Next steps are:
--------------------
- [x] Matthew/Cameron to translate Jade to HTML and Stylus to SCSS **
- [ ] Matthew/Cameron to build up Cameron's beautiful SCSS http://www.codeshare.io/y8LpJ into the client ***
- [ ] Matthew/Came

[2015-04-16 00:29] MatthewVita commented on #89
...btw, make sure you all rerun `npm i` now that we have changed gulp's deps a bit :)

[2015-04-16 02:06] MatthewVita commented on #89
...bam! https://github.com/saxifrage/CaaC_Explore/commit/a6c672993b28d92f2c55ba332d053cda403969a0

[2015-04-16 12:46] timothyfcook commented on #89
hooray! did those taxes work out?

I see a shiny salmon-colored nav bar and the login/out buttons. Progress!

[2015-04-16 12:52] MatthewVita commented on #89
taxes are done... something was wrong with an address I entered or something.

...the nav bar is all I focused on. Now that we've switched to HTML/SCSS, you can help out if you have time since you know HTML/CSS. Make sure to commit/push early and often since we're all working on the same files in the codebase.

[2015-04-16 12:52] MatthewVita commented on #89
@cameronscott137 where's that logo asset, btw?

[2015-04-16 16:16] chelseaerdner commented on #79
Hi All,

Attached is another rev of the logo for City as a Campus logo. We stepped back from the idea of including a city skyline in favor of a more technical approach that explores the idea of a grid, connections, and bringing people together.

Our focal point is an aerial view of an interconnected grid that can represent a city, the quad of a campus, or even something closer to a circuit board.

[2015-04-16 17:09] MatthewVita commented on #79
I'm voting for the one in the middle :+1:

[2015-04-16 19:44] timothyfcook commented on #79
Agree on the middle one! :+1:

[2015-04-16 20:31] chelseaerdner opened #90 "Layout: Individual Opportunity Page"
I am excited to hear that most of us are on board with the third option for the CaaC logo mark. After hearing that, I started to extend that across the individual opportunities page that @cameronscott137 shared with everyone is yesterday's meeting.

You see two different headers in the layouts below to represent the option for either a logo or full width image on the explore page. If the user were

[2015-04-16 21:07] MatthewVita commented on #90
beautiful.

@timothyfcook @cameronscott137 I forgot what we decided yesterday, but how are we going to handle the opportunities that don't have many `Event Details`... do we:

0) implement validation such that all data must be entered
1) the event details box height will be proportional to what data is available
2) the event details box height will have a `min-height` that is the sum of the 4 boxe

[2015-04-16 21:10] timothyfcook commented on #90
We could require certain fields on event entry form and design from there.

[2015-04-16 21:15] MatthewVita commented on #90
so, require enough fields to fill the event details box height to at least the sum of the 4 boxes (including y-axis container margin) on the left?

[2015-04-16 21:29] cameronscott137 commented on #90
I'd recommend we simply hide Event Detail rows that don't have values.

Having two columns at different heights doesn't bother me so much. Plus,
the left column's height will vary, too, depending on the presence of
badges, organizational info, etc. Unless we force heights via CSS on both
columns—which is def. not a responsive best practice—it'll be impossible to
ensure on every page.

In terms of

[2015-04-16 21:31] MatthewVita commented on #90
that makes the most sense in terms of responsiveness, so let's do that.

[2015-04-16 23:29] cameronscott137 commented on #90
Cool. @MatthewVita, if you have time, do you have enough to begin building out the bones of an individual opportunity page? I just need a spot to code into for now. Can go back over and drop variables in after the fact.

[2015-04-17 00:26] MatthewVita commented on #90
I'd like to get the explore page design implemented first. I'll be freed up a bit tomorrow and a good part of the day of sunday

[2015-04-17 13:26] timothyfcook commented on #90
This looks great. Was it intentional to remove the search bar from the nav on these pages, or it just didn't make it into these mockups?

[2015-04-17 13:29] timothyfcook commented on #80
@chelseaerdner now that you are getting closer on the brand, think about codifying the style guide and resources on this page. It'd be nice, for instance, to provide a full file set of the logos (.svg, .eps, .png, etc.) in color, grey, black, and white. In a range of useful sizes (favicon to full-size).

[2015-04-17 14:12] chelseaerdner commented on #80
@timothyfcook great, no problem. I am going to make some final revs to the logo, just to clean and tighten it up a bit, then will start to package the assets in a useful way.

[2015-04-17 14:31] chelseaerdner commented on #90
@timothyfcook it was not necessarily on purpose. It falls under the issue of hierarchy I wanted to discuss for each layout. I removed the search bar simply because I was looking at the opportunity pages as more supplementary pages. Figuring that once the user has reached an opportunity page, they'd already gone through the search process. Although, having the search bar consistently live up in the

[2015-04-17 14:59] timothyfcook commented on #90
Might make sense to have it persist. Easier to code if the nav is identical across all pages. Unless there's a powerful design motive to eliminate it on certain pages.

[2015-04-17 19:09] MatthewVita commented on #90
we're coding by component, so it's simple as "plugging in":

[code]

on pages as we see fit :)

(just let me know)

EDIT: I forgot to include the attribute that we can implement with ease.

[2015-04-18 00:32] MatthewVita commented on #88
Okay, so I looked at some various ways to go about this and the way I like the most is by simply using RoR's `public` directory to serve the client app with this entry point:

https://github.com/saxifrage/CaaC_Explore/blob/master/app/index.html

Not sure how Heroku handles running hooks, but it would have to `cd` to the `public` directory and run `npm i && gulp production`, in order to compile eve

[2015-04-18 21:14] timothyfcook commented on #88
We'll have to get @justinxreese to weigh in on his return from his music festival voyage. Integrating Angular/Rails into one repo is a major goal for the next week. That and the completion of populating Cameron's Explore and Opportunities page designs. Gonna be pretty!

[2015-04-18 21:17] timothyfcook commented on #90
I like having the default background image being the textured logo-esque blocks. The Organizer could override it by uploading their own image for an Opportunity.

[2015-04-20 13:20] chelseaerdner commented on #90
I updated the spec to reflect a consistent search function in the nav.

![caac_opportunity_04162015-01](https://cloud.githubusercontent.com/assets/11842603/7230696/3617b064-e73e-11e4-987d-a8618ff4ca97.png)

![caac_opportunity_04162015-02](https://cloud.githubusercontent.com/assets/11842603/7230697/3619beae-e73e-11e4-99bf-b666e0d52dcf.png)

[2015-04-20 17:18] MatthewVita commented on #90
...speaking of the search bar, can I get the search icon as an svg?

[2015-04-21 01:59] cameronscott137 commented on #90
@MatthewVita Have assets all saved out for you. Can you advise on your preferred way to store and link to assets in Angular? Been looking around, but can't find any comps to your fractal approach so far.

[2015-04-21 02:32] MatthewVita commented on #90
awesome! And wherever makes sense... for example, putting explore assets in `./explore/` and navbar/search assets in `./shared/navbar/`

[2015-04-21 02:34] timothyfcook commented on #90
woo! we have assets!

[2015-04-21 17:36] cameronscott137 commented on #90
@MatthewVita Thanks. How would I link to said assets in an html file? Is there a function I can call to return a root URL? Images in question are in "app/shared/navbar/images/asset_name.svg"

[2015-04-21 17:39] cameronscott137 commented on #90
@MatthewVita Same q for linking to assets in SCSS? eg) background-image: url('./images/asset_name.svg');

[2015-04-22 01:39] MatthewVita commented on #90
@cameronscott137  https://github.com/saxifrage/CaaC_Explore/commit/eb463b81bb0f63b4e49eb4d431387f5a0691183f

[2015-04-22 01:40] MatthewVita commented on #90
^ there's an example for you of how to work with assets (adds a gh fork image to homepage via SCSS and HTML) :+1:

Note: please do a `pull` from `master` to get the latest gulp that deals with assets.

[2015-04-22 20:38] justinxreese commented on #88
I like putting the static site into the public directory. We can use codeship to build the app on deploys

[2015-04-22 21:27] timothyfcook commented on #88
Excellent. Let's make it happen. Chad and I are in Chicago right now working on the sister City of Learning project.

[2015-04-22 21:47] MatthewVita commented on #88
@justinxreese great! We're far off from worrying about provisioning, deploy hooks, and all that jazz, but at least we have a good strategy.

Closing for now.

[2015-04-22 21:47] #88 closed

[2015-04-23 20:34] timothyfcook commented on #51
Latest mockup: https://www.dropbox.com/s/fnloer57s1qtl6e/CaaC_Explore_04162015.pdf?dl=0

[2015-04-24 00:17] MatthewVita commented on #89
[code]

bindings and filters are in place for explore cards!

@cameronscott137 I didn't do any of the CSS for the cards so it's really ugly at the moment

@timothyfcook is that how you wanted the logic for the event type to be?

[2015-04-24 00:22] MatthewVita commented on #89
https://github.com/saxifrage/CaaC_Explore/commit/ca4a4474626db1ddaee98c681f0cd3b7004556e2

[2015-04-24 15:41] chelseaerdner commented on #80
@cameronscott137 briefly shared the first rev of the brand guide with @timothyfcook yesterday but I figured I would document it here for all to see.

Below is a brand guide that would live on http://cityasacampus.org/doc/branding.html. The purpose of the guide is to educate users that are interested in CaaC on the appropriate colors and usage for the CaaC brand. This page will also give people the

[2015-04-24 17:42] timothyfcook commented on #80
@chelseaerdner this looks great! Next steps would be to get it into the documentation site. That lives on the [gh-pages](https://github.com/saxifrage/learn/tree/gh-pages) branch. Specifically in this file: https://github.com/saxifrage/learn/blob/gh-pages/_posts/2015-04-01-branding.md

Go ahead and edit the Markdown and add in all of the appropriate assets ...let me or @cameronscott137 know if you

[2015-04-24 17:43] timothyfcook commented on #80
Be sure to include files for all 4 logo types, as well as white and grayscale... a link to the font assets would also be helpful. Basically everything someone would need to replicate the style guide somewhere.

[2015-04-24 18:55] timothyfcook commented on #79
Going to let @chelseaerdner close this issue!

[2015-04-24 18:58] #79 closed

[2015-04-25 17:20] #90 closed

[2015-04-25 17:23] timothyfcook commented on #29
We'll want to add this to cityasacampus.org

[2015-04-26 02:42] MatthewVita opened #91 "Build Opportunity Page"
I've started here https://github.com/saxifrage/CaaC_Explore/commit/369afc4865e18ea20bfef092a16df6b33283e554

...which loads the following silliness when an explore card is clicked (it talks to a new test data server endpoint that handles opportunity events by UID):

![eve](https://cloud.githubusercontent.com/assets/1715206/7335662/f520bbb6-eb9b-11e4-8515-5222beec3fbe.PNG)

@timothyfcook @cameronsc

[2015-04-27 14:08] timothyfcook commented on #68
Here's a good starting point:

[code]

[2015-04-27 14:09] timothyfcook commented on #68
@justinxreese you'll need this as we improve the data model.

[2015-04-27 14:09] #68 closed

[2015-04-27 14:31] timothyfcook commented on #67
As learner's create accounts, we'll need to know what data those accounts involve. Here's a start:

[code]

[2015-04-27 14:32] timothyfcook commented on #67
@justinxreese you'll need this as we extend the data model.

[2015-04-28 15:26] #67 closed

[2015-04-28 21:17] timothyfcook opened #93 "Style Explore Cards"

[2015-04-28 21:17] timothyfcook opened #94 "Help Cameron Put Files into Angular Structure"

[2015-04-28 21:20] timothyfcook opened #95 "Create Sketch of Learner Account Page"
with @cameronscott137

[2015-04-28 21:22] timothyfcook opened #96 "Update API to match CaaC_Explore App"

[2015-04-28 21:39] timothyfcook commented on #96
Do this by having it match my example: https://github.com/saxifrage/learn/blob/master/examples/opportunity_instance_linked_data.json

[2015-04-28 21:41] timothyfcook opened #97 "Align Angular Data Model to Example"
https://github.com/saxifrage/learn/blob/master/examples/opportunity_instance_linked_data.json

Hopefully you and @justinxreese will meet in the middle on his #96

[2015-04-28 21:47] timothyfcook opened #98 "Update cityasacampus.org site"
with new logo, copy, style guide, etc.

[2015-04-28 22:47] MatthewVita commented on #96
note that the two "types" are "logo" and "banner": https://github.com/saxifrage/learn/blob/master/examples/opportunity_instance_linked_data.json#L11

(these relate to the opportunity page)

[2015-04-28 23:25] timothyfcook commented on #29
noooo we need a favicon up on the gh-pages branch of cityascampus.org

[2015-04-28 23:32] timothyfcook commented on #29
when we go here we should see favicon: http://cityasacampus.org/ ...also should put it up on the CaaC_Explore App as well

[2015-04-28 23:33] timothyfcook commented on #29
Retina quality favicon or else... 32x32 :8ball:

[2015-04-28 23:36] timothyfcook commented on #51
You can do it! Remember:

![809494](https://cloud.githubusercontent.com/assets/1823300/7382518/e818db62-eddd-11e4-9952-3b68a8f92513.jpg)

[2015-04-28 23:42] timothyfcook commented on #29
Should it be a transparent background? I can't tell how it will look...

[2015-04-28 23:43] timothyfcook commented on #29
Maybe it could have the white filled in and a border following the contours rather than the square.

[2015-04-28 23:48] cameronscott137 commented on #29
Transparent 32x32 favicons up in both repos. Chrome caches favicons like whoa, even in incognito, so to see it, use a different browser to see it. Alternately: http://cityasacampus.org/img/favicon.ico

[2015-04-29 00:55] MatthewVita commented on #94
@cameronscott137 we have two options:

1) you can put together the HTML/CSS/images in however you want and just ping me as soon as you push and I'll just change it up as we go
2) I'll make a `cameron` folder with a very traditional folder structure (`pages/`, `styles/`, `images/`, etc) with a gulp script to wire everything together and just ping me as soon as you push and I'll just migrate it over

[2015-04-29 00:57] MatthewVita commented on #93
can't wait for this!

[2015-04-29 01:02] MatthewVita commented on #91
![dev pittsburgh city as a campus opportunities](https://cloud.githubusercontent.com/assets/1715206/7383206/3f5deeac-ede9-11e4-8452-806b62c8ece2.png)

@cameronscott137 and @chelseaerdner:

@timothyfcook and I put this skeleton together to get some of the Angular bindings and routes in place (we also discovered new fields that need to be added to our data model). Sorry for the ugliness, but the HTM

[2015-05-05 19:27] #98 closed

[2015-05-05 20:34] timothyfcook commented on #91
@MatthewVita needs to finish working on the data-binding before this is finished.

[2015-05-05 20:39] timothyfcook commented on #94
@cameronscott137 let him know and we can move forward with it.

[2015-05-05 20:52] timothyfcook commented on #96
@justinxreese is going to do a back and forth with @MatthewVita on this

[2015-05-05 20:53] timothyfcook opened #103 "Change Name of Repo to "cityasacampus""

[2015-05-05 20:57] timothyfcook opened #104 ".svg might be a problem on IE10"
From @MatthewVita
: (

we might have to fix these with a polyfill, etc.?

Or we could just blame the user on this and let them deal?

[2015-05-05 20:57] timothyfcook commented on #104
It doesn't break functionality, so... ?

[2015-05-05 20:58] justinxreese opened #105 "Merge the apps"
How to build angular apps on heroku:

http://www.angularonrails.com/deploy-angular-rails-single-page-application-heroku/

[2015-05-05 21:02] justinxreese opened #106 "Refine API after Angular app merger"
Follow up from #96. Will be easier to know what needs to change once things are wired up

[2015-05-05 21:02] justinxreese commented on #96
Going to work with @MatthewVita on #106 to refine this, but considering this issue closed

[2015-05-05 21:02] #96 closed

[2015-05-05 21:04] justinxreese opened #107 "Add full text opportunity instance search endpoint"
Add the ability to search for opportunities with a string

This is a "maybe" for Sprint 6. Depending on if I have extra time. May move to 7.

[2015-05-05 21:04] justinxreese commented on #86
added an endpoint `opportunity_instances/topic/<topic name>.json` to filter opportunities by topic. Will add full text search in #107

[2015-05-05 21:04] #86 closed

[2015-05-05 21:06] justinxreese commented on #83
This is done (on `opportunity_instancees.json` and `opportunity_instances/topic/<topic name>.json`). To use pagination, add a page parameter `?page=2`

[2015-05-05 21:06] #83 closed

[2015-05-05 21:08] justinxreese commented on #105
Going to rely largely on @MatthewVita to put the app in place in the `client` directory and then I will work with him to configure heroku to build the app at deploy time

[2015-05-06 00:15] MatthewVita commented on #83
This should work for the MVP. We'll probably want to have specific ranges eventually or pass in more filters, however.

good work.

[2015-05-06 00:40] MatthewVita commented on #105
@justinxreese thanks for the link. The article's app uses Grunt, but we're using Gulp. Probably a non-issue, however.

I'll be playing around with this in the coming days.

[2015-05-06 00:45] MatthewVita commented on #104
I actually tested this on IE10 and IE11, but I'm sure it happens on IE9.

@timothyfcook we can't blame the user b/c IE10 and IE11 are modern browsers. Plus, we have to support IE9 per Cameron's point about a bunch of schools/libraries still using it.

@cameronscott137 the issue is with positioning of our main logo in the top left corner (it drops down like ~70px) and the search icon looks really w

[2015-05-06 01:12] MatthewVita opened #108 "Opportunity Instance Endpoints Discussion"
@justinxreese I'd like to follow up with our short discussion about the Explore Cards/Explore Topics search endpoints:

right now for Explore opportunity instances-related GETs, we have:
[code]

right now (with the silly test data server whose main endpoint for this is incorrectly `/api/v1/opportunities/topic/:topic`, because it's just a dummy data server), users can
search for opportunity instanc

[2015-05-06 01:37] justinxreese commented on #108
We DO know if the user is searching a topic or an opportunity based on which part of the interface they are using: the chips or the search field. We can include topics in searches from the search field but should be accessed differently so that they can be separated in the UI.

With your suggested setup, opportunities with a topic name in their title will appear within a topic regardless if the wo

[2015-05-06 01:38] MatthewVita commented on #89
closing b/c these are broken out as individual tickets.

[2015-05-06 01:38] #89 closed

[2015-05-06 01:50] MatthewVita commented on #108
I definately see your logic and appreciate the breakdown, but I think @timothyfcook asked for the search to work by topic or opportunity. I'm sure he'll follow up with us soon :+1:

Topic configuration should be stored in the backend, I agree. However, my understanding is that it will sit at the client level for the MVP because we aren't going to build a feature that allows for admins to CRUD topi

[2015-05-06 02:02] MatthewVita commented on #65
closing b/c this is going to be taken care of with https://github.com/saxifrage/learn/issues/105

[2015-05-06 02:02] #65 closed

[2015-05-06 02:02] justinxreese commented on #108
@timothyfcook's feature is not lost with my suggested architecture. We will include category in the full text search used by `/search/:term.json`

[2015-05-06 02:03] MatthewVita commented on #23
unassigning myself because this will happen much later

[2015-05-06 02:11] MatthewVita commented on #108
Awesome. Very productive discussion.

1 more question and we'll just leave the closing of this discussion to Tim:

Based on my last post, can you comment on if there was a formal decision to add an MVP admin feature for the CRUD'ing topics? If so, I'd love to get those topics out of the frontend conf. If not, let's respect the current scope and I'll add an issue the the bottom of our backlog.

[2015-05-06 02:14] justinxreese commented on #108
@MatthewVita even without any admin CRUD, the rails application can load them similarly how they are loaded by the JS in a config file. But I do think, regardless of the admin interface, it is important to serve them through the API early on in our development.

[2015-05-06 02:15] MatthewVita commented on #108
works for me! I can commit to that next sprint.

[2015-05-06 02:18] MatthewVita opened #109 "Establish Topics Config on Backend"
instead of putting the topics in the frontend config file, let's store them on the backend since we already have an endpoint.

To keep things simple, we'll just have them stored in a config file w/ Rails, but the user will eventually have a fully working admin dashboard where they can CRUD topics with database persistence :)

[2015-05-06 02:18] MatthewVita commented on #108
https://github.com/saxifrage/learn/issues/109

[2015-05-06 02:20] justinxreese commented on #109
:+1:

[2015-05-06 02:43] timothyfcook commented on #108
Thanks for hashing this out. Yeah, goal for me is:
1. Topic buttons filter by topics.
2. Search form filters based on input and references
   ....
   I'm also thinking these might make sense:
3. `organizer.name`
4. `description`

might be good to include. In case the `topic` is `coding` and the title of the talk is `Learning MVC` but the description mentions that the MVC talk will use Ruby on Rail

[2015-05-06 02:46] timothyfcook commented on #108
This discussion is making me realize how a `tags` array might make sense .... basically just an array that organizers can fill up with relevant search terms and we could use that instead of `description` ...I just don't think that `opportunity.name` and `topic` will always be enough for the results to match the intended will of the searcher.

This, of course, is why an awesome visual browsing tree

[2015-05-06 02:53] justinxreese commented on #108
I think we should definitely add tags later (much later, totally a “very
cool to have”). I have a cool vision of how they’d work as auto-complete
search terms that can be added to a query.

I think the search should include topic. It’s okay to cross-polinate in
that direction, just not in the other direction (looking for a topic).
Organizer name could be included, but we can actually toggle the re

[2015-05-06 02:54] justinxreese commented on #108
That last bit was an incomplete thought. I think organizer name could be misleading, but we can easily toggle organizer name's relevancy in searches so that it shows up later in search results.

[2015-05-06 02:58] MatthewVita commented on #105
@justinxreese so far  I've just followed that article in terms of throwing the `build/` folder (generated by gulp of the client) in the `public` directory and it seems to load up everything correctly, however, RoR is complaining a bit:

is it the case that we simply need a catch-all static asset route?

[code]

[2015-05-06 02:59] justinxreese commented on #105
Not a route, but a configuration to serve static assets. Will take a look
tomorrow
El El mar, may 5, 2015 a las 10:58 PM, Matthew Vita <
notifications@github.com> escribió:

[2015-05-06 14:25] MatthewVita commented on #108
okay, so if I'm following this correctly a navbar -> explore page search term will go against:
- opportunity inst name
- opportunity inst description
- opportunity inst topic

...with searches being %wildcard-and-to-lowercase%, ofc

right?

[2015-05-06 14:34] justinxreese commented on #108
Basically those fields. We can add and remove fields as we see fit and also boost certain fields over others so they're deemed more relevant.

Just send me exactly what the user types. The search library will take care of formatting it and optimizing the results.

[2015-05-06 17:07] MatthewVita commented on #108
k

[2015-05-06 17:07] #108 closed

[2015-05-08 22:18] timothyfcook commented on #80
@chelseaerdner do you need any help implementing this? I want to get it up on the documentation site here: http://cityasacampus.org/doc/branding.html

[2015-05-08 22:20] timothyfcook opened #110 "Expand Seed data"
So that we can test pagination, etc.... maybe this is just duplicating the existing data so that we have >25 or whatever our pagination cut-off is.

[2015-05-11 01:51] MatthewVita commented on #91
@timothyfcook I added in the bindings and test data to match that of RoR's payload. However, we're really far off from this: https://cloud.githubusercontent.com/assets/11842603/7230697/3619beae-e73e-11e4-99bf-b666e0d52dcf.png

in terms of data,  we currently don't have "Point of Contact", "Neighborhood", "Long Description", "Address" (for the opportunity_instance, not the addr of the organizer), "

[2015-05-11 01:53] MatthewVita commented on #105
Hey @justinxreese how's it going on this configuration stuff? Need a hand?

[2015-05-11 02:07] justinxreese commented on #105
@MatthewVita I need your changes. Are they on a branch anywhere?

[2015-05-11 03:18] justinxreese commented on #110
dunzo

[2015-05-11 03:18] #110 closed

[2015-05-11 19:56] chelseaerdner commented on #80
@timothyfcook this is on my list to get up and out this week. I should be good to go but I will let you know if I run into any issues, thank you!

[2015-05-12 02:24] MatthewVita commented on #105
@justinxreese here you go: https://github.com/saxifrage/learn/tree/client

...this will be a good start. Obviously we have a bunch of work to go to truely merge them.

`cd` into `client`, run `npm i`, then run `gulp`... you should see everything show up in `public`

[2015-05-12 13:17] timothyfcook commented on #105
Thanks @MatthewVita ...Onward!

[2015-05-12 15:15] timothyfcook commented on #91
@justinxreese can we get the rest of that data into the model?
1. we should due some validation on the age range fields to ensure that both min and max are entered.
2. sounds good. @cameronscott137 can put in a nice styling layer that auto-crops the image into a circle
3. Sorry. I stole @cameronscott137 away to help with pgh-dev.cityoflearning.me ...we have to launch it for the summer and were hit

[2015-05-12 15:22] justinxreese commented on #91
Badges and attendees aren't due up for a while. I can update the other fields, although it would be much easier if that was updated in the learn repo and I could replace the bogus values myself. cc @MatthewVita

[2015-05-12 15:38] justinxreese commented on #105
@MatthewVita I'm not seeing the errors your referring to with the way it is configured right now. What steps are you taking to see that? It's working as-is as far as I can tell. I just visit `http://localhost:3000/` and see the angular built app

[2015-05-12 15:44] justinxreese commented on #105
Nevermind. I see it. Was confused.
![](http://i.imgur.com/zV6UknP.jpg)

I think you're just linking to something wrong in the code and there is legitimately not a file there. Everything else works pretty well.

[2015-05-12 15:47] justinxreese commented on #105
I think this issue is good to close, unless we want to include me configuring our deployment to build the app?

[2015-05-12 16:01] justinxreese commented on #91
Actually, based on the ticket name of #106 that's kind of what we already agreed to do. Can we get the latest code in the learn codebase and have all updates in there going forward?

[2015-05-12 16:03] justinxreese commented on #84
Duplicate. Done.

[2015-05-12 16:03] #84 closed

[2015-05-12 16:06] justinxreese opened #113 "Cleanup old issues."
There are a good amount of duplicate/outdated/dead issues that make browsing the project hard. We should all take a moment to comb through and close bad issues, but I'm assigning @timothyfcook since he is the owner.

[2015-05-12 16:06] justinxreese commented on #97
Duplicate of https://github.com/saxifrage/learn/issues/106

[2015-05-12 16:06] #97 closed

[2015-05-12 16:10] justinxreese commented on #29
This is completed

[2015-05-12 16:10] #29 closed

[2015-05-12 16:10] justinxreese commented on #35
Did this happen?

[2015-05-12 17:53] timothyfcook commented on #35
Waiting to pursue this until we have our apps reconciled and the explore page finished. That will provide a good foundation for people to build on.

[2015-05-12 20:43] timothyfcook commented on #20
Closing this for now, we can revisit a button improvement when it becomes needed.

[2015-05-12 20:43] #20 closed

[2015-05-12 20:44] #44 closed

[2015-05-12 20:45] timothyfcook commented on #55
@justinxreese is this done?

[2015-05-12 20:47] timothyfcook commented on #113
Cleared out a couple, everything else still looks relevant. Thanks for the few you cleared out!

[2015-05-12 20:47] #113 closed

[2015-05-12 20:57] justinxreese commented on #55
Is not. This will be the same topics used to organize events?

[2015-05-12 21:28] timothyfcook commented on #55
Correct. We wanted to be able to associate organizers as well.

[2015-05-12 22:51] MatthewVita commented on #105
we'll do the deploy stuff later, but that should be another issue anyways

[2015-05-12 22:51] #105 closed

[2015-05-12 22:54] MatthewVita commented on #91
if I understand what you're asking, we already have the latest code in learn's `client` branch.

[2015-05-12 22:57] MatthewVita commented on #35
I had 2 people interested in helping, but neither really came through :(. I can hit them up once more soon, however.

I think we should ask for help after we get opps and explore features done

[2015-05-12 22:57] justinxreese commented on #91
It doesn't look like this commit https://github.com/saxifrage/CaaC_Explore/commit/400b1a3add58d595314b82d0266a39a5ecf35991 is in `client`

[2015-05-12 22:58] justinxreese commented on #91
Oh sorry, I misread the diff

[2015-05-12 22:59] MatthewVita commented on #91
most of that is test data

[2015-05-12 22:59] MatthewVita commented on #91
you're good!

[2015-05-12 23:00] MatthewVita commented on #91
btw, @justinxreese, this function is what you'll be most interested in for the opportunity page: https://github.com/saxifrage/learn/blob/client/client/app/opportunities/OpportunitiesService.js#L17-21

[2015-05-12 23:01] justinxreese commented on #91
thanks. is it currently configured to connect to what's running on localhost 3000?

[2015-05-12 23:02] MatthewVita commented on #91
https://github.com/saxifrage/learn/blob/client/client/app/shared/conf/ConfService.js#L28 yup

[2015-05-12 23:11] MatthewVita opened #114 "Explore Page - Real Calls"
@matthewvita and @justinxreese to work on getting RoR and Angular ready for the Opportunity page.

Frontend:
- adjust endpoint reference as needed
- adjust conventions as needed (right now I'm using `opportunities` instead of `opportunity_instances`)

Backend:
- finalize get endpoint

[2015-05-12 23:12] MatthewVita commented on #91
https://github.com/saxifrage/learn/issues/114

[2015-05-12 23:12] #91 closed

[2015-05-14 03:23] MatthewVita commented on #109
@justinxreese what do you think of:

[code]

where the config is in `application.rb` with something basic like:

[code]

[2015-05-14 03:32] justinxreese commented on #109
Topic should just not be an ActiveRecord model and return a hash of topics in an `all` method

[2015-05-14 12:30] MatthewVita commented on #109
@justinxreese okay, I'll remove the ActiveRecord inheritance, change the method name to all, adjust the controller accordingly, and send you a PR sometime in the coming days.

[2015-05-17 03:06] MatthewVita commented on #109
@justinxreese our CI is failing with my branch for this work and I would appreciate your input:

https://github.com/saxifrage/learn/commit/534042f986765bb72351d937ecadcf76f3b9d1dc

...errors look like this:

[code]

...I don't remember seeing these db errors until I removed the ActiveRecord inheritance.

[2015-05-17 03:10] justinxreese commented on #109
Left some minor notes (style, not causing this error) from my phone but
need more context to fully diagnose. Did you add the Topic model, I forget?
On Sat, May 16, 2015 at 11:06 PM Matthew Vita notifications@github.com
wrote:

[2015-05-17 03:20] MatthewVita commented on #109
@justinxreese thanks for the notes. I just --amend'ed my changes.

The Topic model already exists in `/models/topic.rb`, I just slimmed it down to the one `all` method and removed the ActiveRecord inheritance.

[2015-05-17 03:23] justinxreese commented on #109
Ok. The error is being caused by the fact that it already existed as a
database model. I can add a commit tomorrow that'll fix it. We should
probably switch to a class method rather than deleting the DB tables.
Actually typing this out makes me realize the seeds use topics. I'll take a
look at this soon.
On Sat, May 16, 2015 at 11:20 PM Matthew Vita notifications@github.com
wrote:

[2015-05-17 03:30] MatthewVita commented on #109
@justinxreese my goal was to just add in this `all` method (well, and remove any other unused model methods) because I know some other areas in the db reference `topic`, but it's either keep the ActiveRecord model and add in `all` or ditch ActiveRecord and remove all db refs to it.

Anyways, I committed in the ActiveRecord inheritance and all is well :+1: (we'll eventually go back to the ActiveRec

[2015-05-18 21:49] justinxreese commented on #109
So I'm getting into this and realizing, if topics aren't persisted, they aren't going to have an ID and thus nothing can be associated with them. I think we need to go all the way and actually implement topics as saved instances, whether they are managed by a CRUD interface or not. Thoughts @MatthewVita?

[2015-05-18 21:57] justinxreese commented on #55
Added with #115

[2015-05-18 21:57] #55 closed

[2015-05-20 03:18] MatthewVita commented on #109
@justinxreese so the concern is that opportunity_instances will be created without an actual relationship to a topic, causing us pain when we move topics to ActiveRecord?

If I'm understanding this correctly and we follow the path we've been currently considering, it sounds like each city will have to run some sort of custom migration later on?

[2015-05-21 03:54] MatthewVita commented on #109
actually, looks we'll need the topics in ActiveRecord now so we can do the opportunity instances search against `name` and joined `topics`... right?

[2015-05-21 03:57] MatthewVita commented on #114
@justinxreese just a quick dump for you to consider:

routes.rb:

[code]

...with the ActiveRecord query resolving to something like this (note there is no search as correlated to topics until we work that out and I commented out the last condition since it just didn't work for me... perhaps we should have `hide` default to false):

[code]

[2015-05-24 22:16] MatthewVita commented on #114
...actually, here's the AR query:

[code]

... http://localhost:3000/opportunity_instances/search/software.json?page=1 works :)

anyway to rid of the `.as_json` call?

[2015-05-24 22:19] justinxreese commented on #114
We can't take parameters from a URL and directly inject them to SQL. It's dangerous and also non-performant. We should use a search indexing engine https://github.com/sunspot/sunspot

[2015-05-24 22:32] MatthewVita commented on #114
I actually think the parameterization mechanism in AR protects us from injection?

sunspot looks cool for full-text... do you think we should include it now or post MVP?

also, for the other search endpoint, I was thinking something like (trivial example) since you mentioned you wanted the 2 search endpoints separate:

[code]

[2015-05-24 23:09] justinxreese commented on #114
The topic endpoint wouldn't be a search. It's tied to an ID since those are
known.
On Sun, May 24, 2015 at 6:32 PM Matthew Vita notifications@github.com
wrote:

[2015-05-24 23:13] justinxreese commented on #114
You are right that AR will protect us. It's still just not great practice.

The only thing holding me back from saying we should absolutely use sunspot right now is the fact that we want to be able to clone copies of the app across other places and that's another piece of setup. Can it be automated? IDK

[2015-05-24 23:15] justinxreese commented on #114
Maybe take advantage of postgres full text search? But I really don't like that this option would tie us to one possible database

https://github.com/Casecommons/pg_search
https://github.com/textacular/textacular

[2015-05-25 22:13] justinxreese commented on #114
Textacular is the decision from @MatthewVita and I's conversation

[2015-05-25 22:26] justinxreese commented on #114
We'll also add categories to full text search

[2015-05-25 22:36] justinxreese commented on #114
[code]

[2015-05-26 00:53] MatthewVita opened #118 "Implement Full-text Search module with Name & Topic"
https://github.com/textacular/textacular

[2015-05-26 00:55] MatthewVita opened #119 "Topics `short_name` vs `name`"
Ask @timothyfcook about this

...my 2 cents: topics are essentially "tags" and are short/concise by their very nature

[2015-05-26 00:56] MatthewVita opened #120 "Topics Endpoint to Return Opportunity Instances via ID"
implement `/topics/:id/opportunity_instances.json?page=n`

[2015-05-26 00:58] MatthewVita opened #121 "Gulp Web Hook w/ Codeship"
implement gulp webhook (ensure `npm` dependencies are met, of course)

[2015-05-26 00:59] MatthewVita opened #122 "Quick Pagination Lib Sanity Check Spike"
Ensure pagination library is adding SQL ranges, not just splicing the entire dataset (this could mean bad-news-bears later on)

[2015-05-26 01:00] MatthewVita opened #123 "Think About Opportunity Instance Submissions"
Start to think about this in terms of auth and UX w/ @timothyfcook

[2015-05-26 01:01] MatthewVita opened #124 "Client change: `opportunities` to `opportunity_instances`"
yep

[2015-05-26 01:01] MatthewVita opened #125 "Make Lazy Loader Use New Convention"

[2015-05-26 01:02] MatthewVita opened #126 "Fix Gulp Watchers If...."
Fix Gulp Watchers if we can't get RoR to serve up assets in `./client/build/**` as the app root

[2015-05-26 01:03] MatthewVita opened #127 "Client change: `searchByTopic` to `searchByTerm`"
yep

[2015-05-26 01:05] MatthewVita opened #128 "Client change: clean up 2nd and 3rd Angular DI declarations on controllers to be on one line"
this is just a syntax TD... will only take a few minutes, but the DI/injectable stuff is getting difficult to follow.

[2015-06-03 14:13] timothyfcook commented on #93
@cameronscott137 need any help on this? Maybe we can have it ready when Matthew rejoins us.

[2015-06-03 14:18] timothyfcook opened #129 "setup issue"
I'm getting this after following the current readme install:

![screen shot 2015-06-03 at 10 17 32 am](https://cloud.githubusercontent.com/assets/1823300/7962147/d8175aa0-09d9-11e5-91d7-764e16c2dd48.png)

[2015-06-05 15:11] timothyfcook opened #130 "Improve topical search on Explore navigration"
Rather than a static list of buttons, we want each major topic to fold down into sub-topics, dynamically.

Some inspiration: http://sunsp.net/demo/BubbleMenu/

[2015-06-05 15:32] timothyfcook opened #131 "Create dynamic learning resource map"
Been working on these concepts for a while. It's time to build it.

For our initial prototype, we'll start with a template that has manually inputted data. Eventually we'll want it to generate visualizations dynamically from the database based on topical relationships, etc.

We'll use this for City of Learning this year, as well as long-term in the CaaC work.

Mozilla built a poorly designed page

[2015-06-15 01:47] MatthewVita commented on #128
https://github.com/saxifrage/learn/commit/63255cd74f95bfa838ba17a3f2914867fe22b0d1

[2015-06-15 01:47] #128 closed

[2015-06-15 01:47] MatthewVita commented on #127
https://github.com/saxifrage/learn/commit/3927391622f569c6780dada6af49c5270c9fe986

[2015-06-15 01:47] #127 closed

[2015-06-15 01:48] MatthewVita opened #133 "add clientside logging"

[2015-06-15 01:48] MatthewVita commented on #133
https://github.com/saxifrage/learn/commit/fee19b6042e77dffca717b743bc23244e41a6c8f

[2015-06-15 01:48] #133 closed

[2015-06-15 01:49] MatthewVita opened #134 "keep explore search history on back button"

[2015-06-15 01:49] MatthewVita commented on #134
https://github.com/saxifrage/learn/commit/31b462a96fb35cfee86f2d10fc773e91b33f70d5

[2015-06-15 01:49] #134 closed

[2015-06-15 18:28] timothyfcook commented on #119
Agreed. Let's remove `short_name` under the `topic` object.

[2015-06-21 20:01] MatthewVita commented on #124
https://github.com/saxifrage/learn/commit/22f5bc76028165bf3e8842070e5aa73a5e852b03

[2015-06-21 20:01] #124 closed

[2015-06-24 12:50] timothyfcook commented on #85
This is no longer necessary.

[2015-06-24 12:50] #85 closed

[2015-06-24 12:55] timothyfcook opened #136 "Create sketch of Admin account page"

[2015-06-24 13:36] #129 closed

[2015-06-24 13:36] timothyfcook opened #137 "gulp freezes"
![screen shot 2015-06-24 at 9 15 25 am](https://cloud.githubusercontent.com/assets/1823300/8331120/7f18da60-1a54-11e5-9953-00ca99a95b6a.png)

[2015-06-24 13:36] timothyfcook commented on #137
stuck here.

[2015-06-24 20:56] timothyfcook commented on #80
I got this mostly up and running. Had to reformat the html so it worked okay in a Markdown `.md` file and then had to move images and code into the seed files for the site. The way the Jekyll sites work is that they have build files that get rendered by the Jekyll engine into the actual site. The `_site` folder should never be edit, but rather the file/folders that get built into `_site`.

Sorry,

[2015-06-24 20:57] timothyfcook commented on #80
Also looks like maybe some of the styles aren't applying?

[2015-06-25 22:35] MatthewVita commented on #137
@timothyfcook it's not actually stuck... it's just listening for file changes (development mode). You are free to open another tab and `cd ../ && rails s` or simple `ctrl + c` once Gulp says `default` is finished.

also, you can use `gulp production` if you really want gulp to exit once done (this is for production mode for heroku)

[2015-06-29 02:54] MatthewVita commented on #125
done: https://github.com/saxifrage/learn/commit/a5dd84871e61ff7b66b2b9cb742f303e82d33a31

example (also hides button when the end of paging is recognized):

![dev pittsburgh city as a campus explore](https://cloud.githubusercontent.com/assets/1715206/8400180/2f903dd4-1de8-11e5-808f-727932a44902.png)
![dev pittsburgh city as a campus explore2](https://cloud.githubusercontent.com/assets/1715206/8400

[2015-06-29 02:54] #125 closed

[2015-06-29 03:03] timothyfcook opened #139 "Create a "See More" button for lazy loading"
To finish #125

[2015-06-29 03:04] timothyfcook commented on #125
@MatthewVita not yet! I'll find something a la #139

[2015-06-29 19:29] cameronscott137 commented on #136
To ensure we don't miss any functionality, we've built up a set of user stories that we will be using to inform the admin design. These are based predominantly on the work that's been done on the data model thus far, as well as a few CMS best practices.

For ease of conversation, we've split in-person and digital events into separate stories, though the goal is to encompass both as a single form.

[2015-07-01 00:16] MatthewVita commented on #93
@cameronscott137 let's pair up on this. Do you want to meet up on Sunday in the AM via Google Hangouts? I promise I'll be on fast internet this time...

[2015-07-02 20:05] cameronscott137 commented on #93
@MatthewVita Unfortunately, I'll be traveling this weekend, but thank you for the offer. I dug back in today, and plan to continue on Monday morning. Will ping you with any questions/issues I run into along the way.

[2015-07-02 20:09] cameronscott137 commented on #104
@timothyfcook @MatthewVita Yeah, we will need to write a bit of extra styling for SVG displays on IE9. Check out http://caniuse.com/#search=svg, specifically the second footnote.

Should display totally fine in IE10 and IE11—can you elaborate?

[2015-07-03 04:32] MatthewVita commented on #104
@cameronscott137

Just tested on IE11 (doesn't break functionality, but looks off):

![1](https://cloud.githubusercontent.com/assets/1715206/8492641/c0f3d38c-211a-11e5-939b-24ae65afd82a.PNG)

I can downgrade to IE10 and IE9 to test there as well... just LMK.

[2015-07-03 04:34] MatthewVita commented on #93
@cameronscott137 Sounds good.

[2015-07-03 04:37] MatthewVita opened #141 "Finalize MVP Opportunity Page"
work with @cameronscott137 to figure out what aspects of the opportunity page we need for MVP. ensure functionality, data, and HTML/CSS is in place.

[2015-07-05 04:36] MatthewVita commented on #118
@justinxreese here's the result of my playing around with Textacular and studying up on PG's full text search capabilities in general. Everything is in the `full-text-search` branch. I ask you to review my code and comment on anything concerning about the following demo:

[code]

[code]

[code]

---

when searching against 'software':
![1](https://cloud.githubusercontent.com/assets/1715206/8510388

[2015-07-05 20:31] justinxreese commented on #118
Maybe open it as a PR so I can quickly see the diff? I'll let you know if I see anything. textacular looks like it may work out of the box awesomely. We may need to configure heroku to support the full text search add-on in postgres. not sure it's there by default

[2015-07-06 00:49] MatthewVita commented on #118
https://github.com/saxifrage/learn/pull/142 - Thanks!

As for Textacular working out of the box and configuration... that's pretty much the case. The only thing that we have to pay attention to is the `CREATE EXTENSION IF NOT EXISTS pg_trgm;` part of the migration I added... as long as the Heroku user has the correct PG privileges (superuser?), we'll be fine.

[2015-07-07 00:36] MatthewVita commented on #94
Closing this out. Plz HMU if questions arise :+1:

[2015-07-07 00:36] #94 closed

[2015-07-07 00:37] MatthewVita commented on #114
closing b/c of https://github.com/saxifrage/learn/issues/118

[2015-07-07 00:37] #114 closed

[2015-07-07 00:38] MatthewVita commented on #107
closing bc of https://github.com/saxifrage/learn/issues/118

[2015-07-07 00:38] #107 closed

[2015-07-07 00:40] MatthewVita commented on #137
@timothyfcook can we close this?

[2015-07-07 00:41] MatthewVita commented on #120
closing this out because we took a different (better) approach

[2015-07-07 00:41] #120 closed

[2015-07-07 00:49] #137 closed

[2015-07-08 23:13] cameronscott137 commented on #141
@MatthewVita Polished draft is in place on the opportunity_ui branch. Points to resolve:
- Plug in neighborhood and registration date variables.
- Reformat the Organization section to account for rectangular images.
- Plug in event contact variables.
- Determine a path forward with badges.
- Determine a path forward with attendees. Based on previous conversations with @timothyfcook, attendees will

[2015-07-09 19:47] timothyfcook commented on #141
@cameronscott137 yeah, let's not include the Attendees in the opportunity page for now. We won't have learner accounts until after our initial launch. Once we finalize the design implementation and get our Organizer Accounts up and running we can launch!

[2015-07-09 19:49] timothyfcook commented on #141
I'm fine with leaving the Badges section. Maybe for opportunities that don't have a badge (which will initially be most of them) we could put in a greyed-out placeholder badge to suggest that it should exist someday. I like the idea of subtly suggesting that Badges ought to be part of programs, even if they aren't yet.

[2015-07-09 19:50] timothyfcook commented on #141
@MatthewVita let me know when this is implemented in the App so I can take a look at it.

[2015-07-10 03:02] MatthewVita commented on #141
@cameronscott137 looks great! Yes, `ng-if` is the correct choice (it actually adds/removes elements from the DOM tree based on the conditional rather than simply hiding/showing).

@timothyfcook Cameron's work is currently in the `opportunity_ui`, but if you just want to "take a look at it":

![dev pittsburgh city as a campus opportunity instances](https://cloud.githubusercontent.com/assets/1715206

[2015-07-10 03:07] MatthewVita commented on #141
@timothyfcook regarding badges for MVP... I say we have 2 grey badge "silhouettes" on each instance (no logic or associated data in the db... literally _just_ the static images).

If a user hovers/taps/clicks a badge, we'll just issue an ugly JavaScript `alert('badges are coming soon!')`

/$0.02

[2015-07-10 18:41] timothyfcook commented on #141
I like this strategy. @cameronscott137 let's go ahead with two greyed-out/silhouette place-holder badges with that "Badges are coming soon!" hover-over.

[2015-07-10 20:53] timothyfcook opened #144 "Put CaaC on the internet at learnpgh.org"
Once we finish fully implementing the design for the Opportunity pages and Explore, I'd be interested in putting it up online at learnpgh.org with some dummy content.

I'm having a lot of conversations with people about the project and it would be nice to have something to reference.

Then, when the Admin account side is ready to go we can hit the ground running.

We can also host the beautiful Le

[2015-07-10 20:56] timothyfcook commented on #80
@chelseaerdner could you look at this and make any tweaks necessary to get it looking like your initial layout?

I am pulling the html in via an "Includes" using Jekyll, so the actual page is found in the `_includes` folder: https://github.com/saxifrage/learn/blob/gh-pages/_includes/branding.html

[2015-07-11 00:43] MatthewVita commented on #141
@cameronscott137 tackled date fmt (frontend) and neighborhood (backend) in my branch here: updated-opportunity-ui

![capture](https://cloud.githubusercontent.com/assets/1715206/8631422/94380334-2743-11e5-97d4-ad85602f8b34.PNG)

@timothyfcook:
- What is "register by"? Should I add it to our data model? Is it nullable?
- Are we still doing "short description" for opp. instances? Unless you have a va

[2015-07-13 00:54] MatthewVita opened #146 "quick question"
@justinxreese noticed the endpoints that explore and opportunity instance pages use are behind auth. Is that supposed to be the case?

IIRC, Tim and I once talked about how we want all opportunity instances to be public.

[2015-07-13 00:56] justinxreese commented on #146
Yeah that's not right. Just a moment
On Sun, Jul 12, 2015 at 7:54 PM Matthew Vita notifications@github.com
wrote:

[2015-07-16 21:55] #146 closed

[2015-07-16 22:05] MatthewVita commented on #141
pinging @timothyfcook

[2015-07-21 11:20] MatthewVita opened #148 "2015-07-21 CaaC Standup"
What I accomplished last week:

- Probably my least productive week yet, TBH
- Requirements gathering for https://github.com/saxifrage/learn/issues/141 (Finalize MVP Opportunity Page)

What I intend to do this week:

- Now that the build is fixed, I need to merge some branches that I held off on
- Finish requirements gathering / code for https://github.com/saxifrage/learn/issues/141 (Finalize MVP

[2015-07-22 13:30] chadwhitacre commented on #148
I was off last week.

This week I'm meeting @timothyfcook at [Creative Mornings](http://creativemornings.com/talks/debra-lam) on Friday, after which we're going to work together on http://cityasacampus.org/map/.

No blockers.

[2015-07-23 21:29] timothyfcook commented on #141
@MatthewVita sorry, missed this.
- "register by" is a registration deadline.
- just one description is fine.
- okay with no hovers on mobile.

[2015-07-24 15:47] timothyfcook commented on #148
What I accomplished last week:
- Bothered @cameronscott137 so that we can get the front-end finished up.
- Worked on data sets behind the http://cityasacampus.org/map/
- Contacted digital badge tech folks about collaborations.

What I intend to do this week:
- Work on model for `opportunity` submission form inputs
- Finalize learning resource map data

Obstacles that are impeding my progress:
- No

[2015-07-25 01:21] MatthewVita commented on #141
@timothyfcook thank you!

Here's what we have now:

![dev pittsburgh city as a campus opportunity instances](https://cloud.githubusercontent.com/assets/1715206/8887293/fb5615fe-3249-11e5-8664-b4bd65876f52.png)

[2015-07-25 01:57] MatthewVita commented on #141
@timothyfcook anything else we want on this page for the MVP?

Some things that I'm thinking we could amend:
- Add CSS to the logo to make it have rounded corners/box shadow
- Widen opportunity instance title space so it doesn't wrap
- Comment out `contact` and `attendees` boxes for now
- Determine if we want `venue`, if so, I'll add it to rails
- Determine what `register now` button actually does

[2015-07-27 01:20] Arf375 opened #150 "Curation"
Curation Process
==============

The following steps are to be performed by the Anchor Advisory Panel and optional crowd-sourcing.

0. End-user Pages
===============
- A page on our platform to submit an opportunity instance request. (Must allow user to detail their instance and easily "tag" competencies [0])
- A page on our platform for the community to request particular classes

1. Identify
===

[2015-07-27 01:31] Arf375 opened #151 "Caac Guidelines"
CaaC Guidelines
==============
Put together document that will be committed into the codebase that each "Anchor" city should follow.

Outline the following
- Objective of the app
- Roles of the Anchor Advisory Panel
- Scope of crowd-sourcing efforts
- Brand guidelines

[2015-07-27 01:47] MatthewVita commented on #150
:hamburger:

[2015-07-27 19:21] timothyfcook commented on #150
@Arf375 thanks for the work so far!

Some thoughts:
- I like the idea of the public being able to request classes. Once we get to that point, we could setup a City-level admin account that could have a queue of these requests. They shouldn't be sent to e-mail.
- Definitely a lot of outstanding questions on the "Review" work:
  - How do we gauge/decide credibility? Is this feasible and necessary? C

[2015-07-27 20:46] timothyfcook commented on #141
Thanks @MatthewVita !

Agreed on all fronts.
- Yes, we do want `venue` or `Location` works; it was part of the original [data spec](https://github.com/saxifrage/learn/blob/master/examples/opportunity_instance_linked_data.json) I wrote.
- Yes it should be `organizer`
  "Register Now" should open a new tab and take you to the `registration_url`

If an event is no longer active (i.e. it is passed the

[2015-07-27 23:21] MatthewVita commented on #151
@timothyfcook Addison and I put this together... trying to list out the high-level pieces before a draft is created.

Thoughts?

[2015-07-27 23:25] MatthewVita opened #152 "Add Venue Name"
add venue name per https://github.com/saxifrage/learn/blob/master/examples/opportunity_instance_linked_data.json#L30

[2015-07-27 23:36] MatthewVita commented on #141
@timothyfcook this issue will live until those visual tweaks are in place. I've created a separate issue to add venue to the backend/frontend here https://github.com/saxifrage/learn/issues/152. I'm thinking this will be a good candidate for Tim S to take on since it's smaller, but involves small tweaks on the frontend and the backend.

@cameronscott137 's tasks
- [x] Clean up organization box styl

[2015-07-27 23:51] MatthewVita opened #153 "2015-07-28 CaaC Standup"
(starting this out a day early... deadline is tomorrow, EoD)

What I accomplished last week:
- Made progress on the MVP Opportunity Page (pretty picture here:  https://cloud.githubusercontent.com/assets/1715206/8887293/fb5615fe-3249-11e5-8664-b4bd65876f52.png)
- Worked with @Arf375 (Addison) on CaaC Guidelines (https://github.com/saxifrage/learn/issues/151)
- Helped @Arf375 with Markdown to enter

[2015-07-27 23:51] #148 closed

[2015-07-28 00:13] MatthewVita commented on #150
2 cents: I was originally on board with the "safeness of location" checkbox, but I'd like to think that organizers entering requests are intelligent and reasonable people. Also, we don't want the anchor taking any liability, so it's on the organizer.

[2015-07-28 01:36] chadwhitacre commented on #153
Thank, @MatthewVita! It was a group effort with @timothyfcook to implement @chelseaerdner's awesome design. :-)

Interesting conversation-starter, https://github.com/saxifrage/universal-badge-api. Sounds familiar from conversations I've had with @timothyfcook. Badgr is new to me, though. Have we considered joining forces with them? They have a hosted service, which is _de facto_ centralization (ev

[2015-07-28 01:40] chadwhitacre commented on #153
P.S. I am on vacation next week.

[2015-07-28 02:00] chadwhitacre commented on #153
[last week](https://github.com/saxifrage/learn/issues/148)

cc: @MatthewVita: I think it's a good practice to link the previous week's standup. Since GitHub cross-links back to here, we end up with a double-linked list. :-)

[2015-07-28 02:39] MatthewVita commented on #153
@whit537 agreed and noted https://i.imgflip.com/oriib.jpg

[2015-07-28 13:41] timothyfcook commented on #151
Look good so far. What is "Scope of crowd-sourcing efforts" ?

[2015-07-28 23:26] MatthewVita commented on #151
Maybe we should remove it. The original thought was that the panel could leverage crowdsourcing to maximize learning opportunities, but that doesn't align with the quality-driven curation process.

[2015-07-29 00:33] MatthewVita commented on #153
@cameronscott137 @justinxreese @chelseaerdner @matthannigan @timothyfcook

[2015-07-29 01:29] Arf375 commented on #153
What I accomplished last week:
-Worked on outlining the curation process with @MatthewVita
-Finally "got-hubbed"
-Started outlining Caac Guidelines

What I intend to do this week:
-Work out a VERY basic sketch of competencies to help map out our badge API
-Look over some of the "approval" process in the curation section

Obstacles:
-Every piece I look at leads to more pieces.  I'm just breaking th

[2015-07-29 22:09] Tim-Stimach commented on #152
Gonna git it dun

[2015-07-29 22:10] Tim-Stimach commented on #153
What I accomplished:
Nada, maybe saved some lives

What I intend to do this week:
Start working on Venue thing with Matt Vita

Obstacles:
Real life

[2015-07-31 00:48] MatthewVita commented on #131
This can be closed, yes? Another user story can be made to address the integration piece, I suppose.

[2015-07-31 00:48] MatthewVita commented on #139
are we satisfied with the current button? if so, please close.

[2015-07-31 00:50] #118 closed

[2015-07-31 00:51] MatthewVita commented on #104
where do we stand on this?

[2015-07-31 00:53] MatthewVita commented on #93
@cameronscott137 just pinging you on this b/c I want to get this story across the finish line soon. Do we have mockups for the cards? If so, I can try my best to replicate it via HTML/CSS. This will free you up for other tasks

[2015-07-31 00:54] MatthewVita commented on #80
Looks like @cameronscott137 did great work on implementing this. We should make another user story to create the text... or do we already have that?

[2015-07-31 00:55] MatthewVita commented on #60
We implemented the range as optional fields upon creating the instance. Closing.

[2015-07-31 00:55] #60 closed

[2015-07-31 14:45] timothyfcook commented on #80
This is probably good for now.

[2015-07-31 14:45] #80 closed

[2015-07-31 14:46] timothyfcook commented on #104
I'm not worried about this, .svg is the way to go here. I'm a fan of building for the future. We can regress later if need be.

[2015-07-31 14:46] #104 closed

[2015-07-31 14:46] timothyfcook commented on #139
Cool!

[2015-07-31 14:46] #139 closed

[2015-07-31 14:47] timothyfcook commented on #131
Yeah! It's nearly finished: http://cityasacampus.org/map/

[2015-07-31 14:47] #131 closed

[2015-07-31 14:50] timothyfcook commented on #93
I feel like we had mock-ups a while back. If not, we could use a similar design to what @chelseaerdner made for http://cityasacampus.org/map/

[2015-07-31 15:44] timothyfcook commented on #153
Sorry, thought I did this already.

What I accomplished last week:
- contacted Nate Otto about badgr.io conversation
- worked finishing data for cityasacampus.org/map

What I intend to do this week:
- sketch org admin event input form
- finish and publish alpha of cityasacampus.org/map
- talk more with Nate Otto about learning archive/badge API

Obstacles that are impeding my progress:
- Chad's wi

[2015-07-31 16:13] timothyfcook commented on #151
No, yeah we definitely want the whole community listing opportunities. We will just also need to use the crowd to curate them as they come in.

Having good quantity is super important.

[2015-07-31 16:26] timothyfcook opened #155 "Clicking brick should remove card"
When I have brick in a selected-state with its card open, it should let me close the card by clicking back on that same brick (in addition to clicking off the map)

[2015-07-31 16:26] timothyfcook commented on #155
maybe we could add an "X" in the corner of the cards as well

[2015-07-31 16:28] timothyfcook opened #156 "tooltips should go away when you leave a grid"
the last brick you hovered-over leaves its tool tip up once even after you leave the grid.

[2015-07-31 16:30] #155 closed

[2015-07-31 16:30] #156 closed

[2015-08-01 05:25] MatthewVita commented on #151
I see, but wouldn't it make more sense for the community to contribute opportunities and _anchor_ to curate them as they come in?

[2015-08-01 05:37] MatthewVita commented on #93
I'd be glad to move forward with Chelsea's design. However, I will leave out the blue button and just allow anywhere within a card to be clickable (takes you to opportunity instance page)

[2015-08-01 05:39] MatthewVita commented on #104
we _will_ have to regress later since we have an IE9+ requirement since some schools/libraries use it. For the MVP, this is not a big deal IMO

[2015-08-01 05:42] MatthewVita opened #157 "Add Branding Content"
replace instances of lorem ipsum with actual content here: http://cityasacampus.org/doc/branding.html

[2015-08-01 05:43] MatthewVita commented on #80
cool. I added a story to our backlog for when we do get to adding content: https://github.com/saxifrage/learn/issues/157

[2015-08-02 16:58] MatthewVita opened #158 "Free Code Camp"
http://www.freecodecamp.com/ is a place to "learn to code by building projects for nonprofits". I think we should register City as a Campus x Saxifrage up for this. I'll be the owner of making sure the volunteers have tasks and know what the scope of their work is.

Thoughts?

[2015-08-02 19:40] MatthewVita commented on #93
@timothyfcook:

Some issues I ran into:
- a lot of data that is on the cards for the map is on our individual opportunity instances page... maybe we can keep the explore cards really concise
- we don't have difficulty
- organization information has a link but our cards can be clicked anywhere to navigate

I just pushed this to master:

![dev pittsburgh city as a campus explore](https://cloud.githu

[2015-08-02 19:41] MatthewVita commented on #93
also of note: I truncated the description with '...'

[2015-08-02 19:52] MatthewVita opened #160 "Responsive UI Issues"
@cameronscott137 3 things I'd like to work out with you, when you get a chance:

1. our footer doesn't stick to the bottom
2. a while back, I quickly threw the explore cards on the page with floats/margin tricks to make them be in a "grid". We should probably use https://github.com/saxifrage/learn/tree/master/client/app/shared/grid instead (I think this is the system from Bootstrap?)
3. our navbar

[2015-08-03 01:36] MatthewVita commented on #158
btw http://www.freecodecamp.com/field-guide/if-free-code-camp-is-free-how-does-it-make-money

[2015-08-03 14:17] timothyfcook commented on #158
@MatthewVita sounds fine to me if you think there is some work you can give them to do.

I could see starting to build out some of the basic landing pages; we also talked about building pages for Topic areas in #52

I can help come up with tasks if you're up for owning their involvement.

Cool!

[2015-08-03 14:20] timothyfcook commented on #158
Hmmm... upon further investigation, it looks like they are better suited to more traditional non-profit operations who need tech help, not tech projects that are non-profit. According to their survey, sounds like we are not a good fit.

[2015-08-03 14:20] #158 closed

[2015-08-03 16:42] timothyfcook commented on #93
Looks good to me. Some notes:
- We are removing the word "activity" from the Local/Digital item
- We can include some data validation on the admin dashboard via #136 so that the descriptions stay short enough for the design. This is why I was considering a `short_description` as well as a `description` before.

@cameronscott137 @chelseaerdner does this match the original design? I feel like Chelse

[2015-08-03 16:47] timothyfcook opened #161 "Add `difficulty` and `duration` to data model"
Per the conversation in #93 I think it makes sense to add some new data types to match with what we're exploring with the cityasacampus.org/map ...specifically:

- `difficulty` as an integer (data validation: "1,2,3") 1 = Beginner, 2 = Intermediate, 3 = Expert
- `duration` as a number of minutes (provides us with the total scope of the resource, so that users can sort based on roughly how long it

[2015-08-03 16:48] timothyfcook commented on #93
Per #161 let's add duration and difficulty to the cards. @chelseaerdner can you pick an icon for `duration` ? What icon library are we using?

[2015-08-03 18:17] chelseaerdner commented on #93
![screen shot 2015-08-03 at 2 15 03 pm](https://cloud.githubusercontent.com/assets/11842603/9044357/1dbac908-39ea-11e5-9f7d-e6c5c51ef6e0.png)
![screen shot 2015-08-03 at 2 14 54 pm](https://cloud.githubusercontent.com/assets/11842603/9044356/1db625e2-39ea-11e5-80c3-841f33283128.png)

The original cards for CaaC were a little different from the resource map ones that we have been working with. Titl

[2015-08-03 18:19] chelseaerdner commented on #93
@timothyfcook as far as an icon library I usually download existing ones and tweak them to match the style I am working in. If we make a list of ones we need, I can compile them so we have them in one place. But for now, I will pull an icon for duration.

[2015-08-03 18:26] chelseaerdner commented on #93
Attached is an .svg for duration!

*Chelsea Erdner*
Designer
412.310.4697 *m*
chelseaerdner *Skype*
inquiri.com

*Inquiri*M-TH: 8a-6p
F: 8a-4p

On Mon, Aug 3, 2015 at 12:48 PM, Tim Cook <notifications@github.com> wrote:

[2015-08-03 18:26] timothyfcook commented on #93
Nice. Let's go with this layout, but with the 3 icons across the bottom in place of the badges:

Local/Digital    |     Duration     |      Price

[2015-08-03 18:27] timothyfcook commented on #93
@chelseaerdner sorry, I don't think you can attach files via e-mail. You'll have to upload it to this issue page on Github: https://github.com/saxifrage/learn/issues/93

[2015-08-03 18:28] chelseaerdner commented on #93
Grr. Okay, will do!

[2015-08-03 18:32] chelseaerdner commented on #93
Doesn't seem to support .svg's so I just emailed the file to @timothyfcook and @MatthewVita. Let me know if you receive it.

[2015-08-03 22:01] cameronscott137 commented on #160
@MatthewVita Totally. Let me look at each of the issues above, and we can get together sometime later this week.

[2015-08-04 02:19] MatthewVita commented on #158
thanks for reading the fine print

[2015-08-04 02:21] MatthewVita commented on #93
Thanks. I'll implement the cards in this way.

[2015-08-04 02:38] MatthewVita opened #162 "2015-08-04 CaaC Standup"
previous standup: https://github.com/saxifrage/learn/issues/153

What I accomplished last week:
- Finished off my tasks for MVP Opportunity Page visual tweaks (https://github.com/saxifrage/learn/issues/141). Reassigned to @cameronscott137 so he can finish off his tasks (thus completing the issue)
- Started working on the Explore Cards styling issue (https://github.com/saxifrage/learn/issues/93) Ma

[2015-08-04 02:39] #153 closed

[2015-08-04 02:47] MatthewVita commented on #160
cool, LMK.

[2015-08-04 13:04] cameronscott137 commented on #141
@MatthewVita Organization box is all cleaned up and committed here: https://github.com/saxifrage/learn/commit/4a6cd4b0016cf5b5e5a1f066662d6a722c62a364

For my second to-do, which logo were you referring to? The organization logo on the sidebar?

[2015-08-04 13:10] cameronscott137 commented on #93
@MatthewVita You want me to jump in here this week and handle masonry/responsive? Are are you going to trim strings so that each card stays the same height?

[2015-08-04 13:23] timothyfcook commented on #160
Maybe I'll join yinz, keep me posted!

[2015-08-04 13:27] cameronscott137 commented on #162
**What I accomplished:**
- Styled, positioned, and refined data presentation on map popover
- Incorporated map tooltips
- Built static first draft of map navigation
- Misc. map QA issues
- Completed last opportunity page issues on #141

**Intend to do this week:**
- Fix overlapping menus/cards on map.
- Add local/digital icons as part of tooltips
- Work out map pathways with @whit537
- Work out re

[2015-08-04 13:34] timothyfcook commented on #93
I like the somewhat variable card height... could be based on the size of the associated image?

[2015-08-04 13:35] justinxreese commented on #162
I'm going to take care of #161 this week with Jesse.

General obstacles are trying to maintain the high level view of the project
and back channel communication to know what needs to be done. @timothyfcook
did a really useful thing in assigning an item.
On Tue, Aug 4, 2015 at 9:27 AM Cameron Scott notifications@github.com
wrote:

[2015-08-04 13:51] timothyfcook commented on #162
**What I accomplished:**
- Worked with @cameronscott137 to implement design for cityasacampus.org/map
- Worked with @whit537 to add multiple grids onto map
- Created and assign issues, assigned issue priority.

**Intend to do this week:**
- #157
- Dialogue with team to bring home the final design implementations for #93 #21 and #131

**Obstacles**
- The lack of funny pictures from @cameronscott137

[2015-08-04 13:52] justinxreese commented on #162
I replied on my phone so I'm limited in my choices. Here's me with the
steelers pope

On Tue, Aug 4, 2015 at 9:51 AM Tim Cook notifications@github.com wrote:

[2015-08-04 14:17] timothyfcook commented on #151
I think it can be some of both. I imagine the anchor could curate initially, but the scale would get so great that the anchor would need to empower community curators to manage different sections.

[2015-08-05 01:16] MatthewVita commented on #93
@cameronscott137 I can definitely use the help. Masonry is robust and cool, but I'd be just as fine with a simple responsive grid system as well. I can trim strings as we see fit but @timothyfcook brings up a good point. Thoughts?

[2015-08-05 01:25] MatthewVita commented on #151
If I'm following you, natural "partnerships" would arise over time between the Anchor and other parties.

For example, the "Anchor" may be Sprout Fund (which does most of the curation), but people like Justin of Code & Supply can jump in to tackle software-related curation because he's an expert. Although he's not a part of the formal Anchor, he's recognized by the Anchor as an "expert community m

[2015-08-05 01:28] MatthewVita commented on #151
If we're okay with these high level points, I will work with Addison to put together v1 of the document. Will need  3 votes in order to move forward with it, however.
- [x] Myself
- [x] @Arf375
- [x] @timothyfcook

[2015-08-05 01:58] MatthewVita commented on #141
@cameronscott137 yes

[2015-08-05 02:08] MatthewVita commented on #162
@cameronscott137 I haven't been paying attention to the admin stuff lately. I don't think there's a need to shift it to a client-side centric approach (Angular) since it's just forms and it's not public facing.

@justinxreese I think this is a fault of the Github issue system. Sure it can be used for project management, but it's sometimes hard to visualize things as a team would in Trello/Jira/etc

[2015-08-05 02:12] MatthewVita commented on #162
Standup updates by proxy:
- @Tim-Stimach was busy saving lives again this week :+1:. I did manage to give him some code resources to study and he is learning quickly. Hope to catch up with him sometime this week on https://github.com/saxifrage/learn/issues/152.
- @whit537 is on vacation.

how about @Arf375 @matthannigan and @chelseaerdner ?

[2015-08-05 02:16] MatthewVita commented on #160
you just want the free bagels

[2015-08-05 12:19] timothyfcook commented on #162
@chelseaerdner doesn't have any tasks right now (just doing Design work on an as-needed basis, feel free to suggest things for her to tackle!), Matt Hannigan is a Director here at Sprout Fund and is just a "watcher".

[2015-08-05 12:47] chelseaerdner commented on #162
Yes, more than happy to help out where I can! Just let me know how I can be useful!

Thanks!

P.S. Here is my contribution to the photos...

![enhanced-buzz-29511-1403175576-4](https://cloud.githubusercontent.com/assets/11842603/9085852/708b0660-3b4e-11e5-81c5-42f256317978.jpg)

[2015-08-05 12:47] timothyfcook commented on #160
Duh

[2015-08-06 15:11] timothyfcook commented on #151
Re-partnerships and expert curators comment: Exactly!

[2015-08-08 02:45] chadwhitacre commented on #162
Yes, I've been on vacation all week. I plan to work on CaaC next Friday (a week from today), presumably on multi-maps (https://github.com/saxifrage/caac-map/issues/11) and then pathways with/for @cameronscott137. :)

We do have [a roadmap](http://cityasacampus.org/doc/roadmap.html) and we could use [milestones](https://github.com/saxifrage/learn/milestones), but ultimately it's up to @timothyfcook

[2015-08-08 02:51] chadwhitacre commented on #162
Oh! Some OC. :-)

![ohiopyle](https://cloud.githubusercontent.com/assets/134455/9148752/d3574740-3d56-11e5-963f-b3a48baa315f.jpg)

[2015-08-08 04:14] MatthewVita commented on #162
@whit537

I don't think we're necessarily honoring the roadmap. We should update it and make it less specific, IMO. As for general mgmt stuff... I was screwing around with https://www.zenhub.io/ the other day. It's free for OSS and pretty awesome.

[2015-08-08 04:22] MatthewVita commented on #151
@Arf375 ? :)

[2015-08-08 14:38] justinxreese commented on #161
Is the map using opportunity_instances?

[2015-08-08 15:26] MatthewVita commented on #161
@justinxreese https://github.com/saxifrage/caac-map/blob/master/output/resources.json (the data lives in google spreadsheets)

[2015-08-08 15:39] timothyfcook commented on #161
Eventually, we should reconcile the two data models. We built this one separately so that we could specifically consider what properties would be significant for the maps. It's been a good exercise and, I think, will result in a stronger final data model for the opportunities/instances.

In the final version, it might actually make sense for the resources in the maps to be `opportunity` so that th

[2015-08-08 15:43] timothyfcook opened #163 "Reconcile Map data model with database model"
The [data model for the maps](https://github.com/saxifrage/caac-map/blob/master/output/resources.json) needs to merge with the [existing data model](https://github.com/saxifrage/learn/blob/master/examples/opportunity_instance_linked_data.json)

I'll create a new .json template that reconciles the two and then @justinxreese (or his protege) can implement it.

The end result should be a more robust

[2015-08-08 16:22] timothyfcook commented on #162
Yeah, I'll take a crack at updating the Roadmap. It was helpful to get us started thinking about the overall scope, but we've definitely made some decisions that have altered it.

Zenhub.io looks interesting. I'll check it out! It could be a nice simple way to add a layer of clarity onto our existing Issue tracking.

[2015-08-08 16:22] timothyfcook opened #164 "Revise Roadmap"
It's out of date!

http://cityasacampus.org/doc/roadmap.html

[2015-08-08 17:21] MatthewVita opened #165 "admin area"
@justinxreese can you prefix the admin area routes with `/admin`?

example: `/opportunities/new` would be `/admin/opportunities/new`

[2015-08-08 17:24] MatthewVita commented on #162
@timothyfcook thanks.

Please give Zenhub a try (has a really nice Jira/Trello feel without overhead). I say we use it. If you and Chad agree, we'll have to include a link to it in our process page.

[2015-08-08 17:56] MatthewVita commented on #164
2 cents: keep it broad/flexible because we lean more towards Agile than Waterfall.

[2015-08-09 18:40] MatthewVita commented on #93
@chelseaerdner @timothyfcook I pushed the following HTML/CSS to `master`:

![capture](https://cloud.githubusercontent.com/assets/1715206/9156330/4534c600-3ea4-11e5-8004-5a03c6ddf5e8.PNG)

[2015-08-10 01:25] MatthewVita commented on #152
closing. we had the venue_name. all we needed was to add some seed data: https://github.com/saxifrage/learn/commit/e885024fa9a69f985e92317b86f624f87b3a96dc

[2015-08-10 01:25] #152 closed

[2015-08-10 13:04] timothyfcook commented on #93
Looking good! @chelseaerdner feel free to offer any design suggestions as well for the final implementation.

[2015-08-10 13:13] timothyfcook opened #169 "consider zenhub.io"

[2015-08-10 13:27] chelseaerdner commented on #93
These are looking good! There are a couple minor things I would recommend just to clean up spacing a bit.
- Shrink up the size of the organization and location. The primary focus should first be on the resource name on the card.
- It looks like we are using a couple different typefaces on the card. We probably need to reduce down to only two, if not one. I think the spec uses Effra all through wit

[2015-08-11 03:35] MatthewVita commented on #93
Cool, I'll put these on my todo list! Thanks for the followup.

[2015-08-11 04:03] #162 closed

[2015-08-11 04:04] MatthewVita opened #170 "2015-08-11 CaaC Standup"
previous standup: https://github.com/saxifrage/learn/issues/162

What I accomplished last week:
- Implemented latest tweaks to the Explore Cards for https://github.com/saxifrage/learn/issues/93 (this is almost done... just need to tweak a few more things per @chelseaerdner's helpful comments)
- @Tim-Stimach and I found that https://github.com/saxifrage/learn/issues/152 was already done so we verif

[2015-08-12 03:37] MatthewVita commented on #170
![img](https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Arecibo_message.svg/320px-Arecibo_message.svg.png)

A graphical representation of the Arecibo message, Humanity's first attempt to use radio waves to actively communicate ~~its existence to alien civilizations~~ a reminder for the CaaC members to submit their standup.

#IWantToBelieve

[2015-08-12 03:41] MatthewVita commented on #170
dat Fermi Paradox

[2015-08-12 11:16] chadwhitacre commented on #170
What I accomplished last week:
- Vacationed. :)

What I intend to do this week:
- Work on multi-maps (https://github.com/saxifrage/caac-map/issues/11) and pathways (https://github.com/saxifrage/caac-map/issues/19) on Friday.

Obstacles that are impeding my progress:
- None.

[2015-08-12 11:50] chadwhitacre commented on #170
Why yes, yes I have. :-)

Sooooo I wrote a [script](https://gist.github.com/whit537/1003a0a83e1e89f95999) to generate an URL for [this](http://pmav.eu/stuff/javascript-game-of-life-v3.1.1/) Life implementation, using the binary representation [available](https://en.wikipedia.org/wiki/Arecibo_message#Message_as_binary_string) at Wikipedia. :-)

[![Arecibo of Life](https://cloud.githubusercontent.co

[2015-08-12 22:12] MatthewVita commented on #170
@whit537 assuming the message never made it to any life forms after it was sent, you've quite literally allowed the most non-human lifeforms to interact on the Arecibo message to date.

[2015-08-12 22:23] MatthewVita commented on #93
To close off this story:
- [x] shrink up the size of the organization and location
- [x] use 1 font (closest webfont to `Effra`, that is)
- [x] add `25px` of space above the title and below the icons
- [x] switch the blue color to `#0099FF` and the green color to `#33CC00`
- [x] implement updated svg for `duration`
- [ ] implement update svg for $

[2015-08-13 02:26] MatthewVita commented on #93
![capture](https://cloud.githubusercontent.com/assets/1715206/9241406/23ebc864-4141-11e5-9904-25704b6260d5.PNG)

[2015-08-13 02:26] MatthewVita commented on #93
I think the duration svg looks off? Also, please send me a $ svg when you get a chance

[2015-08-13 11:10] chadwhitacre commented on #170
:alien:

[2015-08-16 15:07] MatthewVita commented on #151
Okay @Arf375  and @timothyfcook, I set up a "Getting Started" guide that overviews objective, curation, and guidelines here: https://github.com/saxifrage/learn/commit/33e93d053f913f9fdc80a5e9875cea35fe2ca63f

It is linked from our website's home page and our repo's README.md.

Please let me know if your have any comments on it. Otherwise, we can close the issue.

[2015-08-16 15:07] MatthewVita commented on #150
Okay @Arf375  and @timothyfcook, I set up a "Getting Started" guide that overviews objective, curation, and guidelines here: https://github.com/saxifrage/learn/commit/33e93d053f913f9fdc80a5e9875cea35fe2ca63f

It is linked from our website's home page and our repo's README.md.

Please let me know if your have any comments on it. Otherwise, we can close the issue.

[2015-08-16 15:08] MatthewVita commented on #150
(Tim, I addressed some of your bullets points concisely in that doc)

[2015-08-16 15:14] MatthewVita commented on #164
@timothyfcook I was thinking it would be cool to break up the roadmap by subproject roadmaps, since we have the platform itself, maps, and universal badge API projects going on at the same time (in theory, they will all merge later on).

[2015-08-17 22:39] #170 closed

[2015-08-17 22:45] MatthewVita opened #174 "2015-08-18 CaaC Standup"
Previous standup: https://github.com/saxifrage/learn/issues/170

What I accomplished last week:

- Finished first pass at CaaC "Getting Started" document, which includes guidelines and curation information. This is referenced from our README.md and home page (https://github.com/saxifrage/learn/commit/a6971c54798767bb072e4e54fedaca82427b52c2)
- Finished implementing @chelseaerdner's remaining desig

[2015-08-17 22:54] timothyfcook commented on #164
Sounds wise to me. Thanks!

[2015-08-17 22:55] timothyfcook commented on #151
Looks like a good start!

[2015-08-17 22:55] #151 closed

[2015-08-17 23:20] timothyfcook commented on #174
What I accomplished last week:
- Was in San Francisco most of the week :fast_forward:
- Got some people really excited about using CaaC and Maps

What I intend to do this week:
- #157
- #164
- Work with @whit537 and @cameronscott137 to bring home the Maps to an initial finish line (multi-maps published on cityasacampus.org/map with pathways and menus fully functional)

Obstacles that are impeding

[2015-08-18 00:41] chadwhitacre commented on #103
Done.

[2015-08-18 00:41] #103 closed

[2015-08-18 00:47] whit537 opened #175 "implement multi-maps"
We are now [generating multi-maps over in `caac-map`](https://github.com/saxifrage/caac-map/pull/32). We need a PR to copy/paste the latest [`resources.json` and `map.svg`](https://github.com/saxifrage/caac-map/tree/6a490514890d26ec8177a6a0f6e962a1e3cfcb51/output) into [this repo](https://github.com/saxifrage/cityasacampus/tree/gh-pages/map), and update the front-end as necessary.

cc: @timothyfco

[2015-08-18 00:51] chadwhitacre commented on #174
What I accomplished last week:
- [Multi-maps](https://github.com/saxifrage/caac-map/pull/32)!

What I intend to do this week:
- Pathways: https://github.com/saxifrage/caac-map/issues/19.
- Whatever else @timothyfcook prioritizes.
- Probably not eat lemon bars. :disappointed:

Obstacles that are impeding my progress:
- None.

[2015-08-18 00:51] chadwhitacre commented on #174
![screen shot 2015-08-15 at 10 49 34 am](https://cloud.githubusercontent.com/assets/134455/9289372/5cc63664-433b-11e5-87fa-ad7da45cc07e.png)

![lemon-bars](https://cloud.githubusercontent.com/assets/134455/9275014/35cee764-4268-11e5-92d3-5153e91289b8.jpg)

[2015-08-18 00:54] MatthewVita commented on #103
we broke http://cityasacampus.org/ :O

[2015-08-18 00:57] MatthewVita commented on #103
didn't break our CI though (https://codeship.com/projects/69801/builds/7678386) :D

[2015-08-18 01:27] chadwhitacre commented on #103
I just pushed a commit to see if that will get GH Pages back on track: https://github.com/saxifrage/cityasacampus/commit/46d3d7a0e2a24a2c893a57958da6d5cec6cc6cd9.

[2015-08-18 01:27] chadwhitacre commented on #103
Huzzah! :dancer:

[2015-08-19 19:19] timothyfcook commented on #175
Stoked. I checked in with @cameronscott137 to see if he can join on Friday to update the front-end for multi-maps. We also need to work with him to get the nodes/pathways and menus working.

[2015-08-20 18:49] chadwhitacre commented on #174
P.S., Tugboat is [totally killing it](https://www.flickr.com/photos/tugboatprintshop/sets/72157644565031964/).

![screen shot 2015-08-20 at 2 43 03 pm](https://cloud.githubusercontent.com/assets/134455/9392293/e1d61902-4749-11e5-9f1f-44ae656144cc.png)

[2015-08-21 02:19] MatthewVita commented on #160
@cameronscott137, @timothyfcook can you guys meet 5pm on Wednesday?

Einstein Bros Bagels
436 Seventh Ave, Pittsburgh, PA 15219

[2015-08-21 13:33] timothyfcook commented on #160
Good with me.

I'll meet anywhere anytime!

[2015-08-21 17:23] chadwhitacre commented on #175
Done in #177.

[2015-08-21 17:23] #175 closed

[2015-08-21 17:43] timothyfcook commented on #150
Closing! We can revisit this closer to a public launch, maybe after we get feedback from real users.

[2015-08-21 17:43] #150 closed

[2015-08-21 17:49] timothyfcook commented on #169
Checked this out today. I'm interested, but it would make it harder to include light-weight contributors, since it wouldn't make sense to add them as Zenhub users for $5/month/person.

[2015-08-21 20:18] MatthewVita commented on #169
Zenhub is free for OSS

[2015-08-21 20:19] MatthewVita commented on #150
awesome

[2015-08-22 17:00] MatthewVita commented on #160
@timothyfcook glad you're able to make it.

@cameronscott137 can you confirm you'll be able to make it?

[2015-08-24 13:19] timothyfcook commented on #169
oh nice, their website wasn't obvious about that.

[2015-08-24 22:10] MatthewVita commented on #169
yep. if we want to switch, we just have to call out how to signup in the README and the "process" page of our site

[2015-08-24 23:12] MatthewVita opened #182 "2015-08-25 CaaC Standup"
previous standup: https://github.com/saxifrage/cityasacampus/issues/174

What I accomplished last week:

(didn't do much, was very busy)
- Focused on thinking about the Universal Badge API (https://github.com/saxifrage/universal-badge-api). Sounds like it may be best to fork/build off Badgr.io's "Earner" API. I also modified our README to reflect our roadmap a bit better.

What I intend to do this

[2015-08-24 23:13] #174 closed

[2015-08-25 02:12] chadwhitacre commented on #182
last week:
- Multi-maps [integrated into the front end](http://cityasacampus.org/map/)! (https://github.com/saxifrage/cityasacampus/issues/175)
- Started on pathways: https://github.com/saxifrage/cityasacampus/pull/181.

this week:
- More pathways on Friday.

blockers:
- none

animal:

![6785397-cute-turtle](https://cloud.githubusercontent.com/assets/134455/9457081/2eebd07c-4aad-11e5-8ee8-14768eae

[2015-08-26 01:31] MatthewVita commented on #160
@cameronscott137 are you able to make it tomorrow?

[2015-08-26 03:03] timothyfcook commented on #160
Heard a rumor that he is on vacation!

[2015-08-26 12:50] MatthewVita commented on #160
Okay. Let's try for when he's back

On Tue, Aug 25, 2015, 11:03 PM Tim Cook notifications@github.com wrote:

[2015-08-26 20:56] timothyfcook commented on #182
What I accomplished last week:
- Talked with Nate Otto from the Badge Alliance and chatted with @MatthewVita about the Universal Badge API
- Did major data cleanup on the collections behind the initial Learning Resource maps

What I intend to do this week:
- Finish data cleanup for the learning resource maps
- Work with @whit537 and @cameronscott137 on implementing learning pathways on the maps
-

[2015-08-31 22:48] #182 closed

[2015-08-31 22:48] MatthewVita opened #183 "2015-09-01 CaaC Standup"
previous standup: https://github.com/saxifrage/cityasacampus/issues/182

What I accomplished last week:

- Scheduled time to meet with @Tim-Stimach to discuss the Universal Badge API endpoints (just documenting the routes endpoints for now)

What I intend to do this week:

- Meeting with @timothyfcook and @cameronscott137 on Wednesday to discuss/work on https://github.com/saxifrage/cityasacampus/i

[2015-09-01 02:21] MatthewVita commented on #160
@timothyfcook, @cameronscott137: can we try for this Wednesday? :)

[2015-09-01 10:09] chadwhitacre commented on #183
last week:
- pretty good progress on pathways: #181

this week:
- hopefully land pathways

blockers:
- none

tea:
- The T! :D Rode it for the first time outside downtown the other day, did not expect to end up on the street! :-)

![ls](https://cloud.githubusercontent.com/assets/134455/9601501/04f1f54e-5070-11e5-81eb-73acdc02168b.jpg)

[2015-09-01 18:53] timothyfcook commented on #183
What I accomplished last week:
- Worked with @whit537 on implementing learning pathways on the maps
- Data cleanup for the learning resource maps

What I intend to do this week:
- Finish data cleanup for the learning resource maps
- Work with @whit537 and @cameronscott137 on implementing learning pathways on the maps
- #164 Revise Roadmap
- Start working on #163

Obstacles that are impeding my pro

[2015-09-01 18:54] timothyfcook commented on #160
I'm down. Not sure if @cameronscott137 is back in the country yet... ?

[2015-09-01 19:55] cameronscott137 commented on #160
I am stateside and available tomorrow. Still want to do 5PM at Einstein?

On Tue, Sep 1, 2015 at 2:54 PM, Tim Cook notifications@github.com wrote:

##

Cameron
(610) 883-7342

[2015-09-01 20:02] timothyfcook commented on #160
Unfortunately I have a Sprout Fund board meeting at 5:45. I could meet until then if we met closer to the Sprout office or yinz can meet w/o me. I'm not that helpful anyways : )

[2015-09-01 22:44] MatthewVita commented on #160
@cameronscott137 awesome, let's do 5pm at Einstein.

[2015-09-02 18:48] cameronscott137 commented on #160
@matthewvita, any chance you have the flexibility to meet closer to the
East End? I'm gonna be coming in hot from a meeting that ends at 4:45, and
don't wanna keep you waiting if things run over.

On Tue, Sep 1, 2015 at 6:44 PM, Matthew Vita notifications@github.com
wrote:

##

Cameron
(610) 883-7342

[2015-09-02 19:37] timothyfcook commented on #160
I might be able to join as well, keep me posted on your plans!

[2015-09-02 20:35] MatthewVita commented on #160
Sure where at?

On Wed, Sep 2, 2015, 3:37 PM Tim Cook notifications@github.com wrote:

[2015-09-02 20:36] cameronscott137 commented on #160
Mind doing Zeke's (6015 Penn Ave, Pittsburgh, PA 15206) in the East
Liberty? Is that too far out of your way?

On Wed, Sep 2, 2015 at 4:35 PM, Matthew Vita notifications@github.com
wrote:

##

Cameron
(610) 883-7342

[2015-09-02 20:37] timothyfcook opened #184 "Make menu mobile friendly"
![screen shot 2015-09-02 at 4 36 49 pm](https://cloud.githubusercontent.com/assets/1823300/9643569/dbe03df6-5190-11e5-84f7-7ff922e24071.png)

[2015-09-02 20:40] timothyfcook commented on #93
Looking good. Let's have @cameronscott137 do any final clean-ups or improvements and close this.

[2015-09-02 20:50] cameronscott137 commented on #160
We're confirmed for Zekes's at 5ish if you can join us, Tim?

On Wednesday, September 2, 2015, Cameron Scott cameron.scott137@gmail.com
wrote:

##

Cameron
(610) 883-7342

[2015-09-02 20:50] timothyfcook commented on #160
I think so! See yinz there. Let me buy all of the treats.

[2015-09-02 21:17] MatthewVita commented on #160
Currently enjoying an artisan chocolate bar and good wifi.

[2015-09-02 21:31] chadwhitacre commented on #160
!m *

[2015-09-02 21:41] cameronscott137 commented on #160
#### Our footer doesn't stick to the bottom

 This is a CSS solution involving negative margins. I'll take that.

[2015-09-02 21:47] cameronscott137 commented on #160
#### Grid
- Responsive `masonry.js` for the cards.
- Gonna ditch the CSS-governed circular icons for right now; will clean up square icons, round the edges, etc.

[2015-09-02 21:49] timothyfcook commented on #165
Nice. Then admin users can login at e.g. `learnpgh.com/admin`

[2015-09-02 21:54] timothyfcook opened #185 "Make Explore default show all content"
So when you load explore page it's never empty.

[2015-09-02 21:55] timothyfcook opened #186 "Create beautiful homepage design"
so they find something beautiful on the home page that explains the epic vision of this project.

[2015-09-02 21:58] timothyfcook commented on #165
Meeting here with @cameronscott137 and @MatthewVita ...looks like we need this to move forward on some priorities. @justinxreese can you execute?

[2015-09-02 21:58] cameronscott137 commented on #160
#### Nav

On smaller screen sizes, will prioritize search, and collapse everything else off-canvas.

[2015-09-02 21:59] justinxreese commented on #165
There's already an open pull request for this

[2015-09-02 22:01] cameronscott137 commented on #186
@chelseaerdner and I will roll on this, looking to @timothyfcook as content authority.

[2015-09-02 22:02] timothyfcook opened #187 "Tie opportunity_instances to admin creator"
So that when an admin logs in they can CRUD only their own events.

[2015-09-02 22:06] cameronscott137 opened #188 "Event Null State"
Create a partial that displays when no events fit the given parameters.

[2015-09-02 22:08] timothyfcook commented on #186
I'm thinking something like "We are all schoolmasters, and our schoolhouse is the universe."

[2015-09-02 22:16] timothyfcook opened #189 "Setup staging site"
staging.learnpgh.org

@justinxreese can we move forward on setting this up asap?

We have a lot of reasons to get it moving quickly.

[2015-09-02 22:17] MatthewVita opened #190 "Put in `Description` Seed Data"
yep

[2015-09-02 22:17] timothyfcook commented on #141
@chelseaerdner can you upload your original design for the Opportunity pages here?

I like everything except maybe the event details section. Each type of data there should be expressed differently and the field names used only when necessary as a prompt.
![img_0292](https://cloud.githubusercontent.com/assets/1823300/9644006/f294f454-5192-11e5-8f13-d07ec2bf11e4.JPG)

[2015-09-02 22:24] timothyfcook commented on #165
Got it. Thanks!

[2015-09-02 22:31] MatthewVita opened #191 "Implement New Opportunity Instance Layout"
https://cloud.githubusercontent.com/assets/1823300/9644006/f294f454-5192-11e5-8f13-d07ec2bf11e4.JPG

[2015-09-02 22:33] MatthewVita commented on #141
closing because of https://github.com/saxifrage/cityasacampus/issues/191

[2015-09-02 22:33] #141 closed

[2015-09-02 22:40] MatthewVita opened #192 "EPIC: Build out Admin Area for Demo"
This epic contains the following user stories:
- https://github.com/saxifrage/cityasacampus/issues/194 (Dashboard Links (Learner Context))
- https://github.com/saxifrage/cityasacampus/issues/195 (Dashboard Links (Organizer Context))
- https://github.com/saxifrage/cityasacampus/issues/196 (Dashboard Registration (Organizer Context))
- https://github.com/saxifrage/cityasacampus/issues/197 (Dashboard

[2015-09-02 22:41] MatthewVita commented on #160
reassigned to @cameronscott137 because design stuff

[2015-09-03 00:48] MatthewVita commented on #165
@justinxreese, @timothyfcook I just merged the PR into master. I'm happy with the code, however we can't close this issue quite yet. While the `admin/` prefix is correctly in place. The `/` action (lists out all opportunity instances and allows one to add an opportunity instance) should really be at `admin/`.

Reassigning to myself to look into this!

[2015-09-03 02:33] MatthewVita commented on #165
Fixed https://github.com/saxifrage/cityasacampus/commit/677cd65eca76a0b2e573dce1b3d12a4dabcba6f0

Closing

[2015-09-03 02:33] #165 closed

[2015-09-03 04:41] justinxreese commented on #189
I don't have access to DNS configuration to set up a new URL. The app exists on heroku currently. Do we need to make a staging copy or are we using the copy that is there now as staging?

[2015-09-03 12:47] cameronscott137 commented on #189
At this point, we can likely just repoint the current copy to staging.learnpgh.org, and replace the root domain with a splash page? @timothyfcook, if you agree, can you create the subdomain? @justinxreese can get you the name of the app to drop into the CNAME.

[2015-09-03 12:54] justinxreese commented on #189
It is learnpgh
On Thu, Sep 3, 2015 at 7:47 AM Cameron Scott notifications@github.com
wrote:

[2015-09-05 23:32] MatthewVita opened #194 "Dashboard Links (Learner Context)"
USER STORY:
As a learner, I wish to click on the “Dashboard” link in my city’s CaaC site so that I can see the data associated with my account

ACCEPTANCE CRITERIA:
- Dashboard Page lists
  - “I’m a Learner” link
  - “I’m an Organizer” link
  - alert fires when “I’m a Learner” link is clicked with content “personal account functionality will be added soon!”

[2015-09-05 23:33] MatthewVita opened #195 "Dashboard Links (Organizer Context)"
USER STORY:
As an organizer, I wish to click on the “Dashboard” link in my city’s CaaC site so that I can access the admin dashboard.

ACCEPTANCE CRITERIA:
- Dashboard Page lists
  - “For Learner” link
  - “For Organizer” link
  - when “I’m an Organizer” link is clicked, user is directed to admin/

[2015-09-05 23:34] MatthewVita opened #196 "Dashboard Registration (Organizer Context)"
USER STORY:
As an organizer, I wish to create an account.

ACCEPTANCE CRITERIA
- Allows organizer to specify:
  - email
  - password
  - name
  - description
  - url
  - logo
- Uses nav/theme from “regular” site

[2015-09-05 23:35] MatthewVita opened #197 "Dashboard Home (Organizer Context)"
USER STORY:
As an authenticated organizer, I wish to see all available actions

ACCEPTANCE CRITERIA:
- link to “Add Opportunity Instance”
- link to “View my Opportunity Instances”
- Uses nav/theme from “regular” site

[2015-09-05 23:38] MatthewVita opened #198 "Dashboard Add Opportunity Instance (Organizer Context)"
USER STORY:
As an authenticated organizer, I wish to add an opportunity instance

ACCEPTANCE CRITERIA:
- form:
  - Name (not null)
  - Address (not null)
  - Description (not null)
  - Registration URL (not null)
  - Location name (not null)
  - Registration deadline (not null)
    - use datetime picker
  - Logo url  (not null)
  - Starts at (not null)
    - use datetime picker
  - Zipcode (not nu

[2015-09-05 23:40] MatthewVita commented on #192
@timothyfcook & @cameronscott137: please review this epic before I start working. I've left out the Anchor role for now, even though we'll definitely want that later.

[2015-09-08 22:40] #183 closed

[2015-09-08 22:44] MatthewVita opened #199 "2015-09-08 CaaC Standup"
(sorry for starting this last minute... I'm sick today)

previous standup: https://github.com/saxifrage/cityasacampus/issues/183

What I accomplished last week:
- Met with @timothyfcook and @cameronscott137 on Wednesday to discuss/work on https://github.com/saxifrage/cityasacampus/issues/160
- Created an Epic for building out our admin area for the upcoming demo https://github.com/saxifrage/cityas

[2015-09-08 23:58] chadwhitacre commented on #199
last week:
-  [pathways](https://github.com/saxifrage/caac-map/issues/19)

this week:
- ??? ... @timothyfcook's choice, I guess.

blockers:
- none

favorite website:
- https://github.com/ :-)

[2015-09-09 03:58] justinxreese commented on #199
I've got to formally drop off of this project. As great as the goal is, the backend work is too inconsistent and I've got some big things coming up that I need to keep organized and make room for. Best of luck to all involved! Thanks for having me involved.

[2015-09-09 11:17] chadwhitacre commented on #199
Go get 'em, @justinxreese! :-)

[2015-09-09 12:56] timothyfcook commented on #199
Alright @justinxreese, farewell sir.

[2015-09-09 13:23] timothyfcook opened #200 "Project structure and new Back-end Dev"
Now that Justin is headed off to other things, we should use this moment to assess the project and find a new team member.

Two questions.

1. Do we want to continue using the back-end Ruby framework that Justin put in place? I feel like he didn't do that much work on the RoR side, so would it be easier to transition away from it to something that played better to the strengths of @whit537 @Matthe

[2015-09-09 13:56] cameronscott137 commented on #200
I'll defer to y'all on this one, but you're right, Justin didn't do a ton,
but he also didn't need to do a ton. From the rails perspective, its a
straightforward problem to solve, and now that the schema and the forms are
in place, there's not a huge amount of work left to get to an alpha.

Given that, it may not make sense to migrate it to another language prior
to November, but again, will defer

[2015-09-09 19:53] timothyfcook commented on #195
Let's go with "For Learners" and "For Organizers"

[2015-09-09 23:28] MatthewVita commented on #199
@justinxreese best of luck and I'm sure we'll run into each other at meetups.

[2015-09-09 23:50] MatthewVita commented on #200
Here are my thoughts:
- I feel more comfortable with RoR now and think we can and should stick with it. We have a good foundation and can run with it. Our project's client will eventually be 100% Angular and RoR will serve as the API only, which is a very valid setup for our project and RoR will fit that bill nicely. Right now we have a bit of hybrid situation going on and that's okay.
- I would a

[2015-09-09 23:54] cameronscott137 commented on #200
@matthewvita, you're correct, and I owe Justin an apology for earlier
comment. He contributed a great deal of thought and expertise toward laying
the groundwork for a successful project. I was moving quickly this morning,
and spoke out of turn.

On Wed, Sep 9, 2015 at 7:50 PM, Matthew Vita notifications@github.com
wrote:

##

Cameron
(610) 883-7342

[2015-09-09 23:56] MatthewVita commented on #200
It's k. We're all just sad to see him go :(.

[2015-09-10 00:05] MatthewVita commented on #195
For Learners
For Organizers

...and For Your Health!

![a](https://cloud.githubusercontent.com/assets/1715206/9777114/1a77339c-572e-11e5-9e5d-9c972347a27e.jpg)

[2015-09-10 13:43] timothyfcook commented on #195
Exactamo!

[2015-09-10 13:52] timothyfcook commented on #200
Cool, thanks for the discussion all. We'll stick with the current stack and try and bring on some new energy. @cameronscott137 let me know if your team is able to deepen their involvement.

[2015-09-10 13:52] #200 closed

[2015-09-10 13:56] timothyfcook commented on #199
last week:
- Pathways on the map
- Meeting with Cam and Matt on next steps
- Discussion with Open Badges folks about badge integrations to CaaC
- Work on new data model to solve for #163

This week:
- Work with @whit537 on Menus, navigation, and cleaning up genmap.py
- #164 once and for all

blockers:
- None

favorite website:

http://cityasacampus.org/map :-)

[2015-09-10 13:56] #161 closed

[2015-09-10 14:56] timothyfcook commented on #196
I swear I created a response for this already. Must have gotten lost in the ether, unsubmitted...

The primary note here is that a single account should be able to take on one or both of the `learner` and `organizer` roles.

By default, someone who signs up through the "For Organizers" link would have an account that was usable for both roles.

By default, someone who signs up through the "For Lea

[2015-09-10 15:04] timothyfcook commented on #194
Let's go with "For Learners" and "For Organizers"

Copy for alert could be:

"Learner accounts are not yet available. For now, just browse opportunities or explore our map!"

[2015-09-10 15:06] timothyfcook commented on #197
Can be "Create Opportunity" and "Manage Opportunities"

In the workflow for Create Opportunity, they will have the chance to schedule instances. This process could also be done from the "Manage Opportunities" page.

[2015-09-10 15:17] timothyfcook commented on #198
Let's separate it out so that they first create an `opportunity` and then schedule `opportunity_instance` objects related to it. This could all be part of the same form on the same page. Maybe just broken up a bit with a "+" button to add/schedule instances related to the `opportunity`

Also:
- IsOnline should be inputted alongside the Location information. There should be some conditional form lo

[2015-09-10 15:21] timothyfcook commented on #191
See [Eventbrite](http://www.eventbrite.com/e/global-day-of-coderetreat-2013-pittsburgh-tickets-9376287729) layout for reference/comparison

[2015-09-10 15:26] timothyfcook commented on #187
Might have impact on #163

[2015-09-10 15:27] timothyfcook commented on #192
Cool. I think I got to all of them. @cameronscott137 any additional thoughts?

[2015-09-10 15:33] timothyfcook commented on #136
This should be combined with #198

[2015-09-10 15:33] timothyfcook commented on #198
We can also reference what @cameronscott137 and I sketched out in #136

[2015-09-10 15:33] #136 closed

[2015-09-10 15:34] timothyfcook commented on #123
Is this redundant with #198

[2015-09-10 15:34] #123 closed

[2015-09-10 15:34] #119 closed

[2015-09-10 15:34] timothyfcook commented on #163
Note to remove `short_name` from the `topic` object

[2015-09-10 20:14] timothyfcook commented on #186
This is a homepage for learnpgh.org (check out the old mock-up for reference: http://learnpgh.org/)

I like the idea of:
- a full-page photo of pittsburgh (with the CaaC monomark in the corner)
- a brief description of what exists now (resource discovery, maps), with a few bullet points about the dream platform we are building towards (badges, lifelong learning archives)
- a search bar (takes you

[2015-09-10 20:14] timothyfcook opened #201 "Dashboard Create Pathway"
Once #198 is complete, we need to add another option that will allow users to create their own custom maps

[2015-09-10 21:55] MatthewVita commented on #201
added to epic

[2015-09-10 21:58] MatthewVita commented on #186
@timothyfcook I was thinking we'd build on the "home" page that we currently have because we'd have the same navbar and look+feel all in one place. Thoughts?

[2015-09-10 21:59] timothyfcook commented on #186
what "home" page? the one at http://cityasacampus.org/ ?

My thinking was that site is for the open-source software project, but we would build a homepage for learn.pgh which is an instance of the platform being used in a real place.

[2015-09-10 22:00] MatthewVita commented on #186
the one in this repo.

[2015-09-10 22:01] timothyfcook commented on #186
gotcha. Yeah we could use the existing nav bar, I'll consider that when doing some wire frames.

[2015-09-10 22:03] MatthewVita commented on #186
Cool. And I'm not just talking about "using the existing nav bar", I mean we'd literally use that page as the home page.

It's here: https://github.com/saxifrage/cityasacampus/tree/master/client/app/home

[2015-09-10 22:04] MatthewVita commented on #186
it's a very exciting page at the moment xD

[2015-09-10 22:04] MatthewVita commented on #192
@timothyfcook I looked over your comments and I think we're on the same page

[2015-09-10 22:33] timothyfcook commented on #192
Excellent!

[2015-09-10 22:50] timothyfcook opened #202 "Make thicker alleys on map to match design"

[2015-09-11 12:34] chadwhitacre commented on #199
Sounds dangerous. :)

[2015-09-11 12:35] chadwhitacre commented on #192
Does it make sense to use a GitHub Milestone to collect the tickets on this epic?

[2015-09-11 12:38] chadwhitacre commented on #202
Where's our screenshot of the design? I thought we addressed this at one point.

[2015-09-11 12:42] chadwhitacre commented on #202
Scavenged from https://github.com/saxifrage/caac-map/issues/13:

![screen shot 2015-07-10 at 5 13 36 pm](https://cloud.githubusercontent.com/assets/134455/8629206/2ce6849c-2727-11e5-99ab-fe808a2a2f61.png)

[2015-09-11 12:42] chadwhitacre commented on #202
Current:

![screen shot 2015-09-11 at 8 42 39 am](https://cloud.githubusercontent.com/assets/134455/9815036/195ffc1c-5861-11e5-9993-cbce00c4392f.png)

[2015-09-11 12:46] chadwhitacre commented on #199
Looking through [High Priority issues on caac-map](https://github.com/saxifrage/caac-map/labels/High%20Priority) ... diving in on "[add zooming UI](https://github.com/saxifrage/caac-map/issues/24)." :swimmer:

[2015-09-11 14:58] cameronscott137 commented on #186
@chelseaerdner and I are reviewing now. All feedback so far makes sense: we're building a home page for a specific instance of the platform—in this case, learnpgh.org. We'll see the same nav and footer, and obviously lean heavily on established style rules.

@timothyfcook, would dig any wireframes and additional language as you have them. Otherwise, Chelsea's diving in and will have a draft out fo

[2015-09-12 14:24] MatthewVita commented on #192
done: https://github.com/saxifrage/cityasacampus/milestones/Admin%20Dashboard%20Epic

[2015-09-12 14:24] #192 closed

[2015-09-12 14:29] chadwhitacre commented on #192
:-)

In my experience it can still be useful to have a "meta" ticket as part of a milestone for overarching discussion. YMMV

[2015-09-12 20:52] MatthewVita commented on #192
Thanks for your thoughts. I believe discussions for the admin dashboard can happen at the granular story level moving forward but I can definitely see good use cases for your "meta" ticket approach with giant epics or those that aren't fully defined.

[2015-09-12 21:16] MatthewVita commented on #195
done https://github.com/saxifrage/cityasacampus/pull/204

![dashboard-links](https://cloud.githubusercontent.com/assets/1715206/9833755/da4ad580-5971-11e5-89ee-a2e872734c06.PNG)

Don't mind the "Our footer doesn't stick to the bottom" issue... Cameron is taking care of that in https://github.com/saxifrage/cityasacampus/issues/160

[2015-09-12 21:16] #195 closed

[2015-09-12 21:16] MatthewVita commented on #194
done https://github.com/saxifrage/cityasacampus/pull/204

![dashboard-links](https://cloud.githubusercontent.com/assets/1715206/9833755/da4ad580-5971-11e5-89ee-a2e872734c06.PNG)

Don't mind the "Our footer doesn't stick to the bottom" issue... Cameron is taking care of that in https://github.com/saxifrage/cityasacampus/issues/160

[2015-09-12 21:16] #194 closed

[2015-09-13 13:05] MatthewVita opened #205 "Dashboard Theme"
make sure the RoR dashboard theme is extremely similar to that of our regular webapp.

[2015-09-13 20:11] MatthewVita opened #206 "Prefix `dashboard/` before dashboards routes and generate devise views"

[2015-09-13 20:12] MatthewVita commented on #206
https://github.com/saxifrage/cityasacampus/pull/207

boom

[2015-09-13 20:12] #206 closed

[2015-09-14 16:15] timothyfcook commented on #164
Cleaned up the current roadmap. Later we can spec out specific work for the badge API and maybe the ongoing maps work. Although the maps work is defined pretty clearly in its own repo.

[2015-09-14 22:07] MatthewVita opened #209 "2015-09-15 CaaC Standup"
previous standup: https://github.com/saxifrage/cityasacampus/issues/199

What I accomplished last week:

- Admin Dashboard
  - https://github.com/saxifrage/cityasacampus/issues/206 (Prefix `dashboard/` before dashboards routes and generate devise views)
  - https://github.com/saxifrage/cityasacampus/issues/194 (Dashboard Links (Learner Context))
  - https://github.com/saxifrage/cityasacampus/issue

[2015-09-14 22:07] #199 closed

[2015-09-14 22:31] MatthewVita commented on #164
:tada:

[2015-09-15 00:37] chadwhitacre commented on #209
last week:
- Scant little. Burning the candle at all four ends caught up with me, and I barely eeked out minimal zooming (https://github.com/saxifrage/cityasacampus/pull/203) before collapsing in @timothyfcook's arms and being sent home.

this week:
- Hopefully more! :-)

blockers:
- Lack of rest.

whiskey:
- I've tasted aught but Bankers Club for so long ...

[2015-09-15 14:04] #164 closed

[2015-09-15 14:17] timothyfcook commented on #209
What I accomplished last week:
- #164 [new roadmap](http://cityasacampus.org/doc/roadmap.html)
- made progress on #163

What I intend to do this week:
- Keep on #163
- Review work on #186

Favorite Whiskey:

Jameson will do just fine

[2015-09-17 01:15] MatthewVita commented on #196
@timothyfcook,

Does this mean https://github.com/saxifrage/cityasacampus/pull/64 is no long applicable? Are we changing the data model?

[2015-09-18 17:20] timothyfcook commented on #196
No, it doesn't conflict.

We have roles: `organizer` and `learner`

and we have identity types: `individual` and `organization`

There are no organization accounts, but individuals can associate themselves with an organization.

I understand it's a bit confusing. The `organizer` could be either an `individual` or an `organization`, individuals can be either `organizer` or `learner` or both.

[2015-09-18 21:43] MatthewVita commented on #196
@timothyfcook our current models don't have any reference to learners, individuals, or organizations. All we have are users and organizers.

I'll make stories to add those other models and relationships.

[2015-09-18 22:16] MatthewVita commented on #196
...actually, I'm having a hard time justifying the `organization` thing. It doesn't appear to be needed if we just treat `organizers` as the `organization`s. For example, here are the technical stories I'm writing up:

## Set up Learner Users

A `learner` user is just a regular Devise `User` with `associated_organizer` as null

## Set up Organizer Users

An `organizer` user is just a regular Devis

[2015-09-21 15:42] timothyfcook commented on #186
Some thoughts:
![img_0339](https://cloud.githubusercontent.com/assets/1823300/9996625/d4eca394-6055-11e5-9723-fc60ee95a37d.JPG)

[2015-09-21 15:44] chelseaerdner commented on #186
Perfect timing @timothyfcook, actually working on this now.

[2015-09-21 15:45] timothyfcook commented on #52
thoughts on what should be included:

![img_0340](https://cloud.githubusercontent.com/assets/1823300/9996707/43dfbaa2-6056-11e5-98e2-930a5ae39684.JPG)

[2015-09-21 15:59] timothyfcook commented on #186
Nice! Don't forget our existing page layout:
![screen shot 2015-09-21 at 11 59 29 am](https://cloud.githubusercontent.com/assets/1823300/9997086/46f46a7e-6058-11e5-8551-9e23ce8d81a1.png)

[2015-09-21 21:21] chelseaerdner commented on #186
@timothyfcook here is the first draft of the homepage layout. There is lorem ipsum placeholder text in many places but I figured as we work out layout, we can write to it.

In your notes, you mentioned a large pittsburgh inspired background image but because we have invested so much time into making this awesome resource map, I'd really like to play up that concept on the homepage. I attached a gi

[2015-09-22 02:15] #209 closed

[2015-09-22 02:20] MatthewVita opened #212 "2015-09-22 CaaC Standup"
previous standup: https://github.com/saxifrage/cityasacampus/issues/209

What I accomplished last week:
- Nothing (see impediments)

What I intend to do this week:
- Continuing work on admin dashboard epic
- Meeting with Tim, Cameron, and Steve at Verde at 5:15pm tomorrow to discuss open work items

Obstacle that are impeding my progress:
- Waiting on Tim here https://github.com/saxifrage/cityasac

[2015-09-22 16:30] cameronscott137 commented on #93
@MatthewVita Can you recommend the best place within `/client/` to install a third-party js library?

https://github.com/desandro/masonry

There's an option to install via npm, which strikes me as preferable, but happy to do whatever you think is best.

[2015-09-22 16:32] cameronscott137 commented on #160
Re: nav

![screen shot 2015-09-22 at 12 31 26 pm](https://cloud.githubusercontent.com/assets/2473472/10024580/ee0323c8-6125-11e5-9ea9-4eb01dc153fa.png)

Up on the `bourbon` branch. Prepping for off-canvas to the right.

[2015-09-22 16:36] cameronscott137 commented on #160
In addition, I've migrated off the Bootstrap grid to [Neat](http://neat.bourbon.io/), a sass grid that lives on top of [Bourbon](http://bourbon.io/). Neat is lighter weight and more sassy; Bourbon provides us with a ton of handy outta-the-box mixins to keep styles clean.

You may notice a few things breaking on the `bourbon` branch for the next day or so as I finish up the migration.

[2015-09-22 18:58] timothyfcook commented on #196
That should work as long as we keep this in mind:
- as an individual `organizer` (not associated with a group/organization) I need to be able to create an `organizer` record that references my personal information.

Sorry for any confusion.

[2015-09-22 19:00] timothyfcook commented on #212
What I accomplished last week:
- work on pathways craziness with Chad
- work on data model
- work recruiting new developers

What I intend to do this week:
- finish data model
- meet with new developers
- work with Chad on pathways craziness issue on map

Obstacle that are impeding my progress:

None

Favorite Beer:
- Delerium Noel christmas belgian brew

[2015-09-22 20:17] chadwhitacre commented on #212
last week:
- pathways craziness: https://github.com/saxifrage/caac-map/issues/61

this week:
- pathways craziness: https://github.com/saxifrage/caac-map/issues/61

blockers:
- none

beer:
- hmm ... not an IPA :)

[2015-09-23 00:52] MatthewVita commented on #196
assigning to @sdanko11, but david and myself are all going to pair on this!

[2015-09-23 00:53] #169 closed

[2015-09-23 00:53] #126 closed

[2015-09-23 00:54] #106 closed

[2015-09-23 00:55] #35 closed

[2015-09-24 14:22] timothyfcook commented on #186
This is great. I like the .gif with the changes blocks, let's use that as the background.

Also, the homepage will actually get stood up as "LearnPgh", our local use case for the City as a Campus platform.

I'll write some copy for the bullets.

[2015-09-24 14:54] timothyfcook commented on #186
I'd say @cameronscott137 can go ahead and build up the homepage based on this.

One step closer to actually publishing this thing on the internets!

[2015-09-24 17:41] cameronscott137 commented on #186
@timothyfcook That's a big 10-4.

[2015-09-25 13:40] timothyfcook commented on #163
Map data is now here: https://github.com/saxifrage/caac-map/blob/master/output/topics.json

[2015-09-25 14:30] dmtroyer commented on #163
Oops, didn't mean to unassign you, Tim, was just trying to add myself.

[2015-09-25 14:57] dmtroyer opened #213 "set up development environment on dmtroyer's laptop"

[2015-09-25 15:24] chadwhitacre commented on #213
[!m](http://motivate.im/) @dmtroyer

[2015-09-25 15:57] dmtroyer commented on #213
If anyone's curious, I'm running fedora 21 and setting up my dev env in a vagrant precise64 virtual machine to keep things clean on the host laptop across other projects. A little bit more time up front but worth it in the end.

chruby 0.3.9
ruby 2.2.3 & 2.1.7
node 4.1.1

[2015-09-25 16:03] whit537 opened #215 "fix encoding errors"
![screen shot 2015-09-25 at 12 02 12 pm](https://cloud.githubusercontent.com/assets/134455/10105565/5bba34c0-637d-11e5-9a9a-5808accb501b.png)

-------------

![screen shot 2015-09-25 at 12 03 07 pm](https://cloud.githubusercontent.com/assets/134455/10105580/7329b20c-637d-11e5-862b-f77d060b9e74.png)

-------------

![screen shot 2015-09-25 at 12 03 16 pm](https://cloud.githubusercontent.com/assets/

[2015-09-25 16:19] whit537 opened #216 "patch hole"
Showed up on https://github.com/saxifrage/cityasacampus/pull/214, but I suspect it's a data error.

![screen shot 2015-09-25 at 11 34 08 am](https://cloud.githubusercontent.com/assets/134455/10104772/6888ad20-6379-11e5-8bf5-69af590cb7ed.png)

[2015-09-25 16:32] dmtroyer commented on #213
ruby 2.1.4 for consistency and chruby auto-switching happiness

[2015-09-25 16:54] dmtroyer commented on #213
It would seem that ubuntu wants some libpq-dev

[code]

[2015-09-25 17:19] dmtroyer commented on #213
Having trouble creating the databases with `rake db:setup`

[code]

[2015-09-25 18:18] MatthewVita commented on #213
@dmtroyer because I don't care about security on my development environment, this is my db setup:

[code]

[2015-09-25 18:19] MatthewVita commented on #213
LMK if this doesn't get you past your roadblock :)

[2015-09-25 18:34] dmtroyer commented on #213
@MatthewVita yes! That is what got me past this point I should have documented it.

[2015-09-25 18:36] dmtroyer commented on #213
I also ran into issues with my vagrant machine's locale and thusly the pg locale, conflicting with the encoding when I ran `rake db:setup`.

I solved this by updating the vagrant's locale to en_us.UTF8 (instead of just old en_us) and updating the pg database a la http://crohr.me/journal/2014/postgres-rails-the-chosen-lc-ctype-setting-requires-encoding-latin1.html

[2015-09-25 19:05] dmtroyer commented on #213
@MatthewVita @whit537 can we git-ignore what's in the public folder? Maybe I'm missing something...

[2015-09-25 20:23] dmtroyer commented on #163
Spreadsheet from which the map JSON is derived:

https://docs.google.com/spreadsheets/d/10PurQxMbALCYNu7I3KfgUb2oMz4Uk5dLPZbTkdNb0ZM/edit?usp=sharing

[2015-09-25 20:50] dmtroyer commented on #163
Here's a first stab at resolving the differences between the two models. My approach was to reference the map schema, and comment on where that field may already exist in the caac app, note if it needs to be created, or other idiosyncrasies.

# Map Resource
- after_this -> not included, add id to `opportunity`
- age_range_end -> `opportunity.max_age`
- age_range_start -> `opportunity.min_age`
- ba

[2015-09-25 20:54] dmtroyer commented on #163
I'm envisioning a JSON endpoint for the map which the python script will consume. In this case, we can make the necessary changes to the CAAC model, shore up consistency in naming in the map and go from there.